<div id="skFooter_kbdShortcuts" class="modal sideModal sideRight" tabindex="-1" role="dialog" aria-labelledby="skKBDModalLabel" data-backdrop="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="skKBDModalLabel">Keyboard shortcuts</h4>
            </div>

            <div class="modal-body ">

                <h4>Navigate in Skore</h4>
                <table class="table table-bordered table-hover">

                    <tr>
                        <td>
                            Click &amp; drag
                        </td>
                        <td>
                            Move canvas
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <kbd>Shift&nbsp;<span>⇧</span></kbd> + Drag
                        </td>
                        <td>
                            Selection square
                        </td>
                    </tr>

                    <tbody>
                        <tr>
                            <td>
                                <kbd>Shift&nbsp;<span>⇧</span></kbd> + Scroll
                            </td>
                            <td>Zooms</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>+</kbd> / <kbd>-</kbd> / <kbd>=</kbd>
                            </td>
                            <td>Zooms… bigger / smaller / standard size</td>
                        </tr>
                    </tbody>
                </table>



                <h4>Create box rapidly</h4>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <kbd>Space</kbd>
                            </td>
                            <td>Creates the next box</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>W</kbd> + Click
                            </td>
                            <td>Create a whatbox</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Y</kbd> + Click
                            </td>
                            <td>Create a whybox</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>N</kbd> + Click
                            </td>
                            <td>Create a note</td>
                        </tr>
                    </tbody>
                </table>

                <h4>Edit box content</h4>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <kbd>Enter&nbsp;<span>↩</span></kbd> or <kbd>F2</kbd>
                            </td>
                            <td>Enters in edit mode<br>-or- validates changes and exit edit mode</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Esc</kbd>
                            </td>
                            <td>Exits edit mode without saving the changes</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Tab&nbsp;<span>⇥</span></kbd>
                            </td>
                            <td>Goes to next field<br>-or- validates changes and exit edit mode</td>
                        </tr>
                    </tbody>
                </table>
                <p data-skaction="modal_formatting" class="alert alert-info text-center skTextFormat">Learn more about <a>text formatting</a>.</p>

                <h4>Box order &amp; alignment</h4>

                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td style="width:30%">
                                <kbd>B</kbd>
                            </td>
                            <td>
                            <svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
                                <rect style="stroke:gray" class="block blockFull" shape-rendering="crispEdges" x="10" y="8" width="9" height="9" stroke-width="1"></rect>
                                <rect  class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="9" height="9" fill="black" stroke-width="1"></rect>
                            </svg>
                                Send selected box(es) to <strong>b</strong>ack
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>F</kbd>
                            </td>
                            <td>
                                <svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">

                                <rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="9" height="9"  stroke-width="1"></rect>
                                <rect style="stroke:gray" class="block blockFull" shape-rendering="crispEdges" x="10" y="8" width="9" height="9" stroke-width="1"></rect>
                            </svg>
                            Bring selected box(s) to <strong>f</strong>ront
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>T</kbd>
                            </td>
                            <td>
                                <svg class="formatBtn" width="20" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
                                <line class="block" shape-rendering="crispEdges" x1="2" x2="18" y1="2" y2="2" fill="" stroke-width="1"></line>
                                <rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="4" height="9" fill="" stroke-width="1"></rect>
                                <rect class="block blockEmpty" shape-rendering="crispEdges" x="10" y="4" width="4" height="12" fill="" stroke-width="1"></rect>
                            </svg>
                            Align <strong>t</strong>ops
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>C</kbd>
                            </td>
                            <td>
                                <svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
                                    <line class="block" shape-rendering="crispEdges" x1="10" x2="10" y1="2" y2="18" fill="" stroke-width="1"></line>
                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="12" height="4" fill="" stroke-width="1"></rect>
                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="6" y="10" width="8" height="4" fill="" stroke-width="1"></rect>
                                </svg>
                            Align <strong>c</strong>enters
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>L</kbd>
                            </td>
                            <td>
                                <svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
                                    <line class="block" shape-rendering="crispEdges" x1="10" x2="10" y1="2" y2="18" fill="" stroke-width="1"></line>
                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="12" height="4" fill="" stroke-width="1"></rect>
                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="10" width="8" height="4" fill="" stroke-width="1"></rect>
                                </svg>
                            Align <strong>l</strong>eft
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>R</kbd>
                            </td>
                            <td>
                                <svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
                                    <line class="block" shape-rendering="crispEdges" x1="10" x2="10" y1="2" y2="18" fill="" stroke-width="1"></line>
                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="8" y="4" width="12" height="4" fill="" stroke-width="1"></rect>
                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="12" y="10" width="8" height="4" fill="" stroke-width="1"></rect>
                                </svg>
                            Align <strong>r</strong>ight
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>V</kbd>
                            </td>
                            <td>
                                <svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">

                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="0" width="12" height="4" fill="" stroke-width="1"></rect>

                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="6" width="12" height="4" fill="" stroke-width="1"></rect>

                                    <rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="12" width="12" height="4" fill="" stroke-width="1"></rect>

                                </svg>
                            Space out <strong>v</strong>ertically
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%">
                                <kbd>H</kbd>
                            </td>
                            <td>
                            <svg class="formatBtn" width="20" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">

                                <rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="0" width="4" height="12" fill="" stroke-width="1"></rect>

                                <rect class="block blockEmpty" shape-rendering="crispEdges" x="6" y="0" width="4" height="12" fill="" stroke-width="1"></rect>

                                <rect class="block blockEmpty" shape-rendering="crispEdges" x="12" y="0" width="4" height="12" fill="" stroke-width="1"></rect>

                            </svg>
                            Space out <strong>h</strong>orizontally
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>Full keyboard navigation</h4>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <kbd>Tab&nbsp;<span>⇥</span></kbd>
                            </td>
                            <td>Selects the next box</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Shift&nbsp;<span>⇧</span></kbd> + <kbd>Tab&nbsp;<span>⇥</span></kbd>
                            </td>
                            <td>Selects the previous box</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Enter&nbsp;<span>↩</span></kbd>
                            </td>
                            <td>Enter edit mode</td>
                        </tr>
                    </tbody>
                </table>



                <h4>Advanced keyboard navigation</h4>

                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <kbd>Shift&nbsp;<span>⇧</span></kbd> + <kbd>Space</kbd>
                            </td>
                            <td>Creates a box before (on the same line)</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Ctrl</kbd> + <kbd>Space</kbd>
                            </td>
                            <td>Creates a box on the next line</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Tab&nbsp;<span>⇥</span></kbd>
                            </td>
                            <td>Selects the next box (like clicking)</td>
                        </tr>

                        <tr>
                            <td>
                                <kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>G</kbd>
                            </td>
                            <td>Groups</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>U</kbd>
                            </td>
                            <td>Ungroups</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>D</kbd>
                            </td>
                            <td>Duplicates</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Page down&nbsp;<span>⇟</span> </kbd>
                            </td>
                            <td>Enters detail of selected What box</td>
                        </tr>
                        <tr>
                            <td>
                                <kbd>Page up&nbsp;<span>⇞</span> </kbd>
                            </td>
                            <td>Exits detail of what box</td>
                        </tr>
                    </tbody>
                </table>


                <h4>Stylesheet</h4>
                <table class="table table-bordered table-hover">
                    <tbody class="rowSpan">
                        <tr>
                            <td><kbd>S</kbd><br>(No box selected)</td>
                            <td>Opens stylesheet editor</td>
                        </tr>
                    </tbody>
                    <tbody class="rowSpan">
                        <tr>
                            <td><kbd>S</kbd><br>(Boxes selected)</td>
                            <td>Opens style editor for the box(es)</td>
                        </tr>
                    </tbody>
                </table>

                <h4>On the outline (in the bottom left corner)</h4>
                <table class="table table-bordered table-hover">
                    <tbody class="rowSpan">
                        <tr>
                            <td>Scroll on outline</td>
                            <td>Zooms</td>
                        </tr>
                        <tr>
                            <td>Resize red box</td>
                            <td>Zooms</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Drag and drop of highlight</td>
                            <td>Pans</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>K</kbd></td>
                            <td>Show / Hide Stickynotes</td>
                        </tr>
                    </tbody>
                </table>

                <h4>Other</h4>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td><kbd>X</kbd></td>
                            <td>Open XML modal</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>
</div>
