<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Page Setup</h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" onsubmit="return false">

			<!-- pageView -->
			<div class="form-group" data-skparam="pageView">
				<label for="skPageView" class="col-sm-4 control-label">Page View</label>
				<div class="col-sm-8 ">
					<div class="checkbox">
						<label>
							<input id="skPageView" type="checkbox" >
						</label>
					</div>
				</div>
			</div>

			<!-- grid -->

			<div class="form-group" data-skparam="grid">
				<label for="skGrid" class="col-sm-4 control-label">Grid</label>
				<div class="col-sm-8 ">
					<div class="checkbox">
						<label>
							<input id="skGrid" type="checkbox" >
						</label>
					</div>
				</div>
			</div>

			<!-- page scale -->

			<fieldset data-skparam="pageScale">
				<div class="form-group" >
					<label for="skPageScaleInput" class="col-sm-4 control-label">Page Scale</label>
					<div class="col-sm-8">
						<div class="input-group input-group-sm">
							<span class="input-group-btn">
								<button class="skPageScaleBtn skMinus btn btn-default" type="button">-</button>
							</span>
							<input class="form-control" type="text" id="skPageScaleInput" readonly value="
							arseInt( graph.pageScale * 100, 10
							%">
							<span class="input-group-btn">
								<button class="skPageScaleBtn skPlus btn btn-default" type="button">+</button>
							</span>
						</div>
						<span id="helpBlock" class="help-block">The higher the more boxes on a page.</span>
					</div>
				</div>
			</fieldset>

			<!-- paper size -->

			<fieldset data-skparam="paperSize">
				<div class="form-group" >
					<label for="skPaperSizeSelect" class="col-sm-4 control-label">Paper size</label>
					<div class="col-sm-8">
						<select class="selectionAllowed form-control input-sm" id="skPaperSizeSelect">
						</select>
					</div>
				</div>
			</fieldset>

			<!-- landscape -->

			<fieldset data-skparam="landscape">
				<div class="form-group" >
					<label for="skLandscapeCheckBox" class="col-sm-4 control-label">Landscape</label>
					<div class="col-sm-8 ">
						<div class="checkbox">
							<label>
								<input id="skLandscapeCheckBox" type="checkbox">
							</label>
						</div>
					</div>
				</div>
			</fieldset>

			<!-- background color -->

			<div class="form-group" data-skparam="backgroundColor">
				<label for="skPageColor" class="col-sm-4 control-label">Page background color</label>
				<div class="col-sm-8">
					<div class="input-group input-group-sm">
						<input class="form-control selectionAllowed" type="text" id="skPageColor" value="white">
						<span class="input-group-btn">
							<button class="skApplyColor btn btn-default" type="button">Apply</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
