<div class="modal fade" id="skModalStylesheet" tabindex="-1" role="dialog" aria-labelledby="skModalStylesheetLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalStylesheetLabel">Skore Stylesheet</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="skdevss"></div>

					<div class="alert alert-info skStylesheetAlert" style="display:none;" role="alert"></div>

					<div class="row">
						<div class="col-md-4 skSSWB">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<span class="badge skWBSSCount skSSCellCount"></span>
										Whatboxes
									</h3>
								</div>
								<div class="panel-body form-horizontal">

									<div class="form-group">
										<label for="skWBTextColor" class="col-sm-6 control-label">Text Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skWBTextColor" data-celltype="whatbox" data-styleattr="fontColor">
											<span class="help-block">HTML valid color</span>
										</div>
									</div>

									<div class="form-group">
										<label for="skWBLineColor" class="col-sm-6 control-label">Border Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skWBLineColor" data-celltype="whatbox" data-styleattr="strokeColor">
											<span class="help-block">HTML valid color or <em>transparent</em></span>
										</div>
									</div>

									<div class="form-group">
										<label for="skWBLineThickness" class="col-sm-6 control-label">Border thickness</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skWBLineThickness" data-celltype="whatbox" data-styleattr="strokeWidth">
										</div>
									</div>

									<div class="col-sm-offset-6 col-sm-6">

									</div>

									<div class="form-group">
										<label class="col-sm-6 control-label">Border</label>
										<div class="col-sm-6">
											<div class="checkbox">

												<label>
													<input id="skWBLineDashed" data-celltype="whatbox" data-styleattr="dashed" type="checkbox" >
													Dashed
												</label>

											</div>
											<div class="checkbox">

												<label>
													<input id="skWBLineRounded" data-celltype="whatbox" data-styleattr="rounded" type="checkbox" >
													Rounded
												</label>

											</div>
										</div>
									</div>

									<div class="form-group">
										<label for="skWBFillColor" class="col-sm-6 control-label">
											Fill Color
										</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skWBFillColor" data-celltype="whatbox" data-styleattr="fillColor">
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>

									<div class="form-group">
										<label for="skWBFillOpacity" class="col-sm-6 control-label">Fill opacity</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skWBFillOpacity" data-celltype="whatbox" data-styleattr="opacity">
											<span class="help-block">0 is transparent, 100 opaque.</span>
										</div>
									</div>
								</div>
								<div class="skResetFooter panel-footer">
									<div style="text-align:right;">
										<button data-s="wb" class="skResetButton btn btn-default btn-sm">Clear custom style</button>
									</div>
								</div>
							</div>
						</div>

						<!-- whybox -->

						<div class="col-md-4 skSSYB">
							<div class="panel panel-default ">
								<div class="panel-heading">
									<h3 class="panel-title">
										<span class="badge skYBSSCount skSSCellCount"></span>
										Whyboxes
									</h3>
								</div>
								<div class="panel-body form-horizontal">

									<div class="form-group">
										<label for="skYBTextColor" class="col-sm-6 control-label">Text Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skYBTextColor" data-celltype="whybox" data-styleattr="fontColor">
											<span class="help-block">HTML valid color</span>
										</div>
									</div>

									<div class="form-group">
										<label for="skYBLineColor" class="col-sm-6 control-label">Border Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skYBLineColor" data-celltype="whybox" data-styleattr="strokeColor">
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>

									<div class="form-group">
										<label for="skYBLineThickness" class="col-sm-6 control-label">Border thickness</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skYBLineThickness" data-celltype="whybox" data-styleattr="strokeWidth">
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-6 control-label">Border</label>
										<div class="col-sm-6">
											<div class="checkbox">
												<label>
													<input id="skYBLineDashed" data-celltype="whybox" data-styleattr="dashed" type="checkbox" >
													Dashed
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="skResetFooter panel-footer">
									<div style="text-align:right;">
										<button data-s="yb" class="skResetButton btn btn-default btn-sm">Clear custom style</button>
									</div>
								</div>
							</div>
						</div> <!-- end col -->

						<!-- line -->

						<div class="col-md-4 skSSL">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<span class="badge skLSSCount skSSCellCount"></span>
										Lines
									</h3>
								</div>
								<div class="panel-body form-horizontal">
									<div class="form-group">
										<label for="skLColor" class="col-sm-6 control-label">Line Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skLColor" data-celltype="line" data-styleattr="strokeColor">
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>
									<div class="form-group">
										<label for="skLThickness" class="col-sm-6 control-label">Line thickness</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skLThickness" data-celltype="line" data-styleattr="strokeWidth">
										</div>
									</div>

									<div class="form-group">
										<label for="skLOpacity" class="col-sm-6 control-label">Line opacity</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skLOpacity" data-celltype="line" data-styleattr="opacity">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-6 control-label">Line</label>
										<div class="col-sm-6">
											<div class="checkbox">
												<label>
													<input id="skLLineDashed" data-celltype="line" data-styleattr="dashed" type="checkbox" >
													Dashed
												</label>
												<label>
													<input id="skLRounded" data-celltype="line" data-styleattr="rounded" type="checkbox" >
													Rounded
												</label>
											</div>
										</div>
									</div>
								</div> <!-- end panel-body -->
								<div class="skResetFooter panel-footer">
									<div style="text-align:right;">
										<button data-s="l" class="skResetButton btn btn-default btn-sm">Clear custom style</button>
									</div>
								</div>
							</div>

							<p>&nbsp;</p>
						</div> <!-- end col -->

						<!-- stickynotes -->

						<div class="col-md-4 skSSSN">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<span class="badge skSNSSCount skSSCellCount"></span>
										Notes
									</h3>
								</div>
								<div class="panel-body form-horizontal">
									<div class="form-group">
										<label for="skSNTextColor" class="col-sm-6 control-label">Text Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skSNTextColor" data-celltype="stickynote" data-styleattr="fontColor">
											<span class="help-block">HTML valid color</span>
										</div>
									</div>

									<div class="form-group">
										<label for="skSNLineColor" class="col-sm-6 control-label">Border Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skSNLineColor" data-celltype="stickynote" data-styleattr="strokeColor">
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>

									<div class="form-group">
										<label for="skSNLineThickness" class="col-sm-6 control-label">Border thickness</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skSNLineThickness" data-celltype="stickynote" data-styleattr="strokeWidth">
										</div>
									</div>

									<div class="col-sm-offset-6 col-sm-6">

									</div>

									<div class="form-group">
										<label class="col-sm-6 control-label">Border</label>
										<div class="col-sm-6">
											<div class="checkbox">

												<label>
													<input id="skSNLineDashed" data-celltype="stickynote" data-styleattr="dashed" type="checkbox" >
													Dashed
												</label>

											</div>
											<div class="checkbox">

												<label>
													<input id="skSNLineRounded" data-celltype="stickynote" data-styleattr="rounded" type="checkbox" >
													Rounded
												</label>

											</div>
										</div>
									</div>
								</div>
								<div class="skResetFooter panel-footer">
									<div style="text-align:right;">
										<button data-s="sn" class="skResetButton btn btn-default btn-sm">Clear custom style</button>
									</div>
								</div>
							</div>
						</div> <!-- end col -->

						<!-- Groups -->

						<div class="col-md-4 skSSGR">
							<div class="panel panel-default ">
								<div class="panel-heading">
									<h3 class="panel-title">
										<span class="badge skGRSSCount skSSCellCount"></span>
										Groups
									</h3>
								</div>
								<div class="panel-body form-horizontal">
									<div class="form-group">
										<label for="skGRTextColor" class="col-sm-6 control-label">Text Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skGRTextColor" data-celltype="group" data-styleattr="fontColor" >
											<span class="help-block">HTML valid color</span>
										</div>
									</div>

									<div class="form-group">
										<label for="skGRLineColor" class="col-sm-6 control-label">Border Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skGRLineColor" data-celltype="group" data-styleattr="strokeColor" >
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>

									<div class="form-group">
										<label for="skGRLineThickness" class="col-sm-6 control-label">Border thickness</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skGRLineThickness" data-celltype="group" data-styleattr="strokeWidth" >
										</div>
									</div>

									<div class="col-sm-offset-6 col-sm-6">

									</div>

									<div class="form-group">
										<label class="col-sm-6 control-label">Border</label>
										<div class="col-sm-6">
											<div class="checkbox">

												<label>
													<input id="skGRLineDashed" data-celltype="group" data-styleattr="dashed"  type="checkbox" >
													Dashed
												</label>

											</div>
											<div class="checkbox">

												<label>
													<input id="skGRLineRounded" data-celltype="group" data-styleattr="rounded"  type="checkbox" >
													Rounded
												</label>

											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="skGRFillColor" class="col-sm-6 control-label">
											Fill Color
										</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skGRFillColor" data-celltype="group" data-styleattr="fillColor" >
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>

									<div class="form-group">
										<label for="skGRFillOpacity" class="col-sm-6 control-label">Fill opacity</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skGRFillOpacity" data-celltype="group" data-styleattr="opacity" >
											<span class="help-block">0 is transparent, 100 opaque.</span>
										</div>
									</div>
								</div>
								<div class="skResetFooter panel-footer">
									<div style="text-align:right;">
										<button data-s="gr" class="skResetButton btn btn-default btn-sm">Clear custom style</button>
									</div>
								</div>
							</div>
						</div> <!-- end col -->
						<!-- line between boxes & stickynote -->

						<div class="col-md-4 skSNL">
							<div class="panel panel-default ">
								<div class="panel-heading">
									<h3 class="panel-title">
										<span class="badge skSNLSSCount skSSCellCount"></span>
										Lines between boxes & notes
									</h3>
								</div>
								<div class="panel-body form-horizontal">
									<div class="form-group">
										<label for="skSNLColor" class="col-sm-6 control-label">Line Color</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skSNLColor" data-celltype="wy2s" data-styleattr="strokeColor">
											<span class="help-block">HTML Color or <em>transparent</em></span>
										</div>
									</div>
									<div class="form-group">
										<label for="skSNLThickness" class="col-sm-6 control-label">Line thickness</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skSNLThickness" data-celltype="wy2s" data-styleattr="strokeWidth">
										</div>
									</div>

									<div class="form-group">
										<label for="skSNLOpacity" class="col-sm-6 control-label">Line opacity</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="skSNLOpacity" data-celltype="wy2s" data-styleattr="opacity">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-6 control-label">Line</label>
										<div class="col-sm-6">
											<div class="checkbox">
												<label>
													<input id="skSNLLineDashed" data-celltype="wy2s" data-styleattr="dashed" type="checkbox" >
													Dashed
												</label>
												<label>
													<input id="skSNLRounded" data-celltype="wy2s" data-styleattr="rounded" type="checkbox" >
													Rounded
												</label>
											</div>
										</div>
									</div>
								</div> <!-- end panel-body -->
								<div class="skResetFooter panel-footer">
									<div style="text-align:right;">
										<button data-s="l" class="skResetButton btn btn-default btn-sm">Clear custom style</button>
									</div>
								</div>

							</div>
						</div>
					</div> <!-- end row -->
					<!-- colors -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title skColorPanelHeading"><a>Colors that can be used <small> Click to expand</small></a></h3>
								</div>
								<div class="panel-body skColorPanelContainer" style="display:none;">
									<div class="row skColorPanel" >
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel & Close</button>
				<button type="button" class="btn btn-primary skApplyStylesheet">Apply</button>
			</div>
		</div>
	</div>
</div>
