<div class="modal fade" id="skModal_SocialExport" tabindex="-1" role="dialog" aria-labelledby="skModal_SocialExportLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModal_SocialExportLabel">Export for social</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<p>
						<div class="form-horizontal">
							<div class="form-group">
								<label for="socialShareUrl" class="col-sm-2 control-label">URL</label>
								<div class="col-sm-10">
									<div class="input-group">
										<div class="input-group-addon skSocialUrlPrefix"></div>
										<input type="text" class="selectionAllowed skExportUrl form-control" id="socialShareUrl" placeholder="fileName">
										<div class="input-group-addon skSocialUrlExt"></div>
									</div>
									<span id="helpBlock" class="skPublishFileName help-block">Spaces will be replaced by dashes.</span>
								</div>
							</div>
							<div class="form-group">
								<label for="socialTitle" class="col-sm-2 control-label">Title</label>
								<div class="col-sm-10">
									<input aria-describedby="helpTitleBlock" type="email" class="selectionAllowed form-control" id="socialTitle" placeholder="The title of your article without any branding such as your site name.

Twitter max 70
									">
									<span id="helpTitleBlock" class="help-block"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="socialDesc" class="col-sm-2 control-label">Description</label>
								<div class="col-sm-10">
									<textarea aria-describedby="helpDescBlock" id="socialDesc" class="selectionAllowed form-control" placeholder="A brief description of the content, usually between 2 and 4 sentences. This will displayed below the title of the post on Facebook.

For twitter : 200 char max" rows="4"></textarea>
									<span id="helpDescBlock" class="help-block"></span>
								</div>
							</div>
							<div>
								<label class="col-sm-2 control-label">Image preview</label>
								<div class="col-sm-10">
									<div class="skSocialImage">Image here</div>
								</div>

							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<p>
										<button class="skSocialCheckName btn btn-default">Check file name availability</button>
										<button class="skExportSocialNow btn btn-primary">Upload Now</button>
									</p>
								</div>
							</div>
						</div>
					</p>
					<div class="col-sm-offset-2 col-sm-10">
						<p class="socialURLAvailability selectionAllowed">
							Please check URL before
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
