<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Skore background</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">

			<div class="radio">
				<label>
					<input type="radio" name="skSettingBg" id="skSettingBg1" value="happy" checked>
					Happy background
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="skSettingBg" id="skSettingBg2" value="neutral">
					Neutral background
				</label>
			</div>

		</div>
	</div>
</div>
