<div class="modal fade" id="skModal_CheckUpdate" tabindex="-1" role="dialog" aria-labelledby="skModalCheckUpdateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="skModalCheckUpdateLabel">Updates to Skore app</h4>
            </div>
            <div class="modal-body skCheckUpdateContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" href="https://www.getskore.com/download-skore-desktop/" class="btn btn-primary">Download latest version</button>
            </div>
        </div>
    </div>
</div>
