<div class="modal fade" id="skModal_Print" tabindex="-1" role="dialog" aria-labelledby="skModalPrintLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalPrintLabel">Print</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">

					<!-- table of the file -->
					<table class="fileStackTable table table-striped">

					</table>

					<button class="skFSAddFile btn btn-default">Add a file</button>
				</div>
			</div>
		</div>
	</div>
</div>
