<div class="modal fade" id="skModalImageExport" tabindex="-1" role="dialog" aria-labelledby="skModalImageExportLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalImageExportLabel">Export as image</h4>
			</div>
			<div class="modal-header">
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-warning skSelectedCellsOnly" role="alert"></div>
                    </div>
    				<div class="col-md-6 text-right">
    					<div class="btn-group">

    						<button type="button" class=" skImageExportButton btn btn-default" data-target="clipboard" > Copy to clipboard</button>
    						<button type="button" class=" btn btn-default skImageExportButton" data-target="desktop">Save on desktop</button>
    						<button type="button" class=" btn btn-default skImageExportButton" data-target="file">Save as...</button>
    					</div>
    				</div>

                </div>

			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="skImageExportContainer"></div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-left skImageDetails">

				</div>
				<div class="btn-group">
					<button type="button" data-target="clipboard" class="skImageExportButton btn btn-default" >Copy to clipboard</button>
					<button type="button" data-target="desktop" class="btn btn-default skImageExportButton">Save on desktop</button>
					<button type="button" data-target="file" class="btn btn-default skImageExportButton">Save as...</button>
				</div>
			</div>
		</div>
	</div>
</div>
