<div class="modal fade" id="skModal_Splash" tabindex="-1" role="dialog" aria-labelledby="skModal_SplashLabel" data-backdrop="false" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModal_SplashLabel">Welcome to Skore App</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-6">
							<p>&nbsp;</p>
							<p class="text-center">
								<button class="btn btn-primary skStartTutorial">Start tutorial</button>
							</p>
							<p class="text-center">
								Guides you to create your first process
							</p>
						</div>
						<div class="col-md-6">
							<p>&nbsp;</p>
							<p class="text-center">
								<button class="skCloseForNow btn btn-default">
									Skip tutorial
								</button>
							</p>

							<p class="text-center">
								And start using Skore app...
							</p>
							<p>&nbsp;</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
