
<div id="skModal_Surveys" class="modal sideModal sideRight" tabindex="-1" role="dialog" data-backdrop="" data-keyboard="false" aria-labelledby="skModal_SurveysLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModal_SurveysLabel">Surveys</h4>
				<p>
					Select a survey
				</p>
			</div>

			<div class="modal-body">

				<select class="form-control selectionAllowed skSurveysList">
				</select>

				<br/>

				<div class="skSurveys"></div>


			</div> <!-- end body -->

			<div class="modal-footer">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
</div>
