<div class="modal fade" id="skModal_Stylesheet" tabindex="-1" role="dialog" aria-labelledby="skModalStylesheetLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalStylesheetLabel">Skore Stylesheet</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">

					<ul class="nav nav-tabs skCellTypeTab">
						<li role="presentation" class="active">
							<a data-skcelltype="whatbox">
								Whatbox
								<span class="badge"></span>
							</a>
						</li>
						<li role="presentation">
							<a data-skcelltype="whybox">
								Whybox
								<span class="badge"></span>
							</a>
						</li>
						<li role="presentation">
							<a data-skcelltype="line">
								Line (box to box)
								<span class="badge"></span>
							</a>
						</li>
						<li role="presentation">
							<a data-skcelltype="group">
								Group
								<span class="badge"></span>
							</a>
						</li>
						<li role="presentation">
							<a data-skcelltype="note">
								Note
								<span class="badge"></span>
							</a>
						</li>
						<li role="presentation">
							<a data-skcelltype="wy2ss">
								Line (box to note)
								<span class="badge"></span>
							</a>
						</li>
					</ul>
					<p>&nbsp;</p>
					<div class="skdevss"></div>

					<div class="alert alert-info skStylesheetAlert" style="display:none;" role="alert"></div>

					<div class="row">

						<!-- text -->
						<div class="col-md-6 skStyleTheme">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Text
									</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">

										<!--  fontColor -->
										<label for="skTextColor" class="col-sm-6 control-label">Text Color</label>
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" class="colorTypeahead form-control selectionAllowed" id="skTextColor" data-styleattr="fontColor">
												<span class="input-group-addon">&nbsp;</span>
											</div>
											<span class="help-block">HTML valid color</span>
										</div>

										<!-- fontSize -->
										<div class="form-group">
											<label for="skFontSize" class="col-sm-6 control-label">Text size</label>
											<div class="col-sm-6">
												<input type="number" class="form-control selectionAllowed" id="skFontSize" data-styleattr="fontSize">
												<span class="help-block">Pixel (default 13)</span>
											</div>
										</div>

										<!-- linkColor -->
										<div class="form-group">
											<label for="skLinkColor" class="col-sm-6 control-label">Link Color</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="colorTypeahead form-control selectionAllowed" id="skLinkColor" data-styleattr="linkColor">
													<span class="input-group-addon">&nbsp;</span>
												</div>
												<span class="help-block">HTML valid color</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Border -->
						<div class="col-md-6 skStyleTheme">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Border
									</h3>
								</div>
								<div class="panel-body">

									<!-- dashed & rounded -->
									<div class="form-group">
										<label class="col-sm-6 control-label">Border</label>
										<div class="col-sm-6">
											<div class="checkbox">

												<label>
													<input id="skWBLineDashed" data-styleattr="dashed" type="checkbox" >
													Dashed
												</label>

											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-6 col-sm-6">
											<div class="checkbox">

												<label>
													<input id="skWBLineRounded" data-styleattr="rounded" type="checkbox" >
													Rounded
												</label>

											</div>
										</div>
									</div>

									<!-- strokeWidth -->
									<div class="form-group">
										<label for="skStrokeWidth" class="col-sm-6 control-label">Border thickness</label>
										<div class="col-sm-6">
											<input type="number" class="selectionAllowed form-control" id="skStrokeWidth" data-styleattr="strokeWidth">
											<span class="help-block">Pixel (default 1)</span>
										</div>
									</div>

									<!-- color -->
									<div class="form-group">
										<label for="skStrokeColor" class="col-sm-6 control-label">Border Color</label>
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" class="colorTypeahead selectionAllowed form-control" id="skStrokeColor" data-styleattr="strokeColor">
												<span class="input-group-addon">&nbsp;</span>
											</div>
											<span class="help-block">HTML valid color or <em>transparent</em></span>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row">

						<!-- Fill -->
						<div class="col-md-6 skStyleTheme">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Fill
									</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">

										<!-- fillColor -->
										<div class="form-group">
											<label for="skFillColor" class="col-sm-6 control-label">
												Fill Color
											</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="colorTypeahead form-control selectionAllowed" id="skFillColor" data-styleattr="fillColor">
													<span class="input-group-addon">&nbsp;</span>
												</div>
												<span class="help-block">HTML Color or <em>transparent</em></span>
											</div>
										</div>

										<!-- opacity -->
										<div class="form-group">
											<label for="skWBFillOpacity" class="col-sm-6 control-label">Box opacity</label>
											<div class="col-sm-6">
												<input type="number" class="form-control selectionAllowed" id="skWBFillOpacity" data-styleattr="opacity">
												<span class="help-block">0 is transparent, 100 opaque.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>


						<!-- Size -->
						<div class="col-md-6 skStyleTheme">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Size
									</h3>
								</div>
								<div class="panel-body">

									<!-- sizing, width, height -->
									<div class="form-group">
										<label class="col-sm-6 control-label">Size<br/><br/>
											<span class="experimental block">Experimental. Please provide <a class="infoatgetskoredotcom" href="mailto:info@getskore.com">feedback</a></span>
										</label>
										<div class="col-sm-6">
											<div class="checkbox">
												<label>
													<input id="skWBAllowResize" data-celltype="whatbox" data-styleattr="resizable" type="checkbox" >
													Allow resize
												</label>
											</div>
											<label for="skWBWidth">Width</label>
											<input type="number" class="form-control selectionAllowed styleFreeText" id="skWBWidth" data-celltype="whatbox"
											data-styleattr="width">
											<span class="help-block">Pixel (default 190)</span>

											<label for="skWBheight">Height</label>
											<input type="number" class="form-control selectionAllowed styleFreeText" id="skWBheight" data-celltype="whatbox"
											data-styleattr="height">
											<span class="help-block">pixel (default 80)</span>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row">

						<!-- Other -->
						<div class="col-md-6 skStyleTheme">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Others
									</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">

										<!-- detailColor -->
										<div class="form-group">
											<label for="skWBIconDetailColor" class="col-sm-6 control-label">Enter Detail Icon Color</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="colorTypeahead form-control selectionAllowed" id="skWBIconDetailColor" data-styleattr="detailColor">
													<span class="input-group-addon">&nbsp;</span>
												</div>
												<span class="help-block">HTML valid color</span>
											</div>
										</div>

										<!-- attachmentColor -->
										<div class="form-group">
											<label for="skWBIconAttachmentColor" class="col-sm-6 control-label">Attachment Icon Color</label>
											<div class="col-sm-6">
												<div class="input-group">
													<input type="text" class="colorTypeahead form-control selectionAllowed" id="skWBIconAttachmentColor" data-styleattr="attachmentColor">
													<span class="input-group-addon">&nbsp;</span>
												</div>
												<span class="help-block">HTML valid color</span>
											</div>
										</div>

										<!-- line separator -->
										<div class="form-group">
											<label class="col-sm-6 control-label">Line between what and who</label>
											<div class="col-sm-6">
												<div class="radio">

													<label>
														<input type="radio" id="skWhoWhatLineOff" name="skWhoWhatLine" data-styleattr="whoWhatLine" value="0" >
														Off
													</label>

												</div>
												<div class="radio">

													<label>
														<input type="radio" id="skWhoWhatLineSimple"
														name="skWhoWhatLine"
														data-styleattr="whoWhatLine" value="1" >
														Simple
													</label>
													<span class="help-block">Same color and width of the border</span>

												</div>
												<div class="radio">

													<label>
														<input type="radio" id="skWhoWhatLineCustom"
														name="skWhoWhatLine"
														data-styleattr="whoWhatLine" value="css" >
														Custom
													</label>
													<input type="text" class="form-control selectionAllowed styleFreeText" id="skWBSplitBeforeRoles"
													data-styleattr="whoWhatLineCSS">
													<span class="help-block">Inline css</span>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">

					<div class="pull-left">
						<button class="btn btn-default skResetToSaved">
							Reset stylesheet
						</button>
					</div>

					<form class="form-inline">

						<div class="checkbox skApplyAsDefaultContainer">
							<label>
								<input class="skApplyAsDefault" type="checkbox" value="">
								Save as system default stylesheet
							</label>
						</div>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel & Close</button>

						<button type="button" class="skApplyStylesheet btn btn-primary">Apply</button>
					</form>



				</div>
			</div>
		</div>
	</div>
