<div class="modal fade" id="skModal_Print" tabindex="-1" role="dialog" aria-labelledby="skModalPrintLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalPrintLabel">Print</h4>
			</div>
			<div class="modal-body">

				<div class="container-fluid">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="skPrintWhat" class="col-sm-2 control-label">Print</label>
							<div class="col-sm-10 ">
								<div class="checkbox">
									<label>
										<input id="skPrintWhatProcess" type="checkbox" checked> Processes
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="skPrintWhatAtt" type="checkbox"> Attachments
									</label>
								</div>
							</div>
						</div>
						<fieldset id='skPageSettings'>
						</fieldset>
						<fieldset id='skPosterSettings'>
							<div class="form-group">
								<label for="skPaperPosterNbPages" class="col-sm-2 control-label">Print process pages</label>
								<div class="col-sm-10">
									<div class="radio">
										<label>
											<input name="skPrintPage" class="selectionAllowed skPageAsIS" type="radio" checked>
											As page view
										</label>
									</div>
									<div class="radio">
										<label>
											<input name="skPrintPage" class="selectionAllowed skPageFitOne" type="radio">
											Fit all on one page
										</label>
									</div>
									<div class="radio">
										<label>
											<input name="skPrintPage" class="selectionAllowed skPagePoster" type="radio">
											Poster Print
										</label>
									</div>
									<div class="input-group">
										<input type="number" class="selectionAllowed form-control" id="skPaperPosterNbPages" value="1" min="1" size="6" disabled>
										<div class="input-group-addon">pages</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<fieldset id='skPrintScopeSet' >
					<div class="form-group">
						<label class="col-sm-2 control-label" style="text-align:right;">
							Scope
						</label>
						<div class="col-sm-10">
							<div class="radio">
								<label>
									<input type="radio" name="skPrintScope" id="skPrintScope1" value="skCurrentLevel" checked>
									This level only
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="skPrintScope" id="skPrintScope2" value="skAllLevels">
									This level and detailed views
								</label>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				<button type="button" class="btn btn-primary skModalPrintPreview">Preview &amp; print</button>

			</div>
		</div>
	</div>
</div>
