<div class="modal fade" id="skModal_Registration" tabindex="-1" role="dialog" aria-labelledby="skModal_RegistrationLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModal_RegistrationLabel">License code</h4>
			</div>

			<!-- modal body -->
			<div class="modal-body">
				<form class="form-inline">
					<div class="form-group">
						<label for="skCode">License Code : </label>
						<input type="text" class="form-control selectionAllowed" style="width: 250px;" id="skCode">
					</div>
					<button type="submit" class="btn btn-primary skCheckCode">Apply code</button>

				</form>

				<p>&nbsp;</p>
				<div class="skSubmitMessage" >
					<div></div>
				</div>

				<p class="thanksAndAll"></p>

				<p >
					Get in touch with Skore : <a href="mailto:info@getskore.com">info@getskore.com</a>
				</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>
