<div class="modal fade" id="skModal_JustSkoreIt" tabindex="-1" role="dialog" aria-labelledby="skModalJustSkoreItLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalJustSkoreItLabel">Publish online</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">

							<p>Share this Skore anonymously and secretely with friends and colleagues.</p>

							<p>Disclaimer</p>

							<ul>
								<li>
									This will create an online version of your process that will be available to anyone with the link.
								</li>
								<li>
									You will not be able to update this once published.
								</li>
								<li>
								 	If you wish to update simply republish and receive a new link
								</li>
								<li>
									You agree with the terms &amp; conditions of the service <a class="infoBoxStart_eula">https://www.getskore.com/end-user-license-agreement-eula/</a>.
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<button class="jsit_go btn btn-primary">Go!</button>
							</div>
						</div>
					</div>

					<ul class="list-group skJSITList">

					</ul>



				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
