<div id="skModal_Icons" class="modal sideModal sideRight" tabindex="-1" role="dialog" data-backdrop="" data-keyboard="false" aria-labelledby="skModalIconLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalIconLabel">Icons</h4>
				<p>
					Drag icon to canvas &nbsp;&nbsp;&nbsp;
					<span class="small">For color &amp; size, see bottom of the list</span>
				</p>
			</div>

			<div class="modal-body">

				<input type="text" class="form-control selectionAllowed" id="skIconFilter" placeholder="Type here to filter icon">

				<p class="skIconResult"></p>

				<div class="row skIconList">
				</div>

				<hr>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Add icon manually</div>
							<div class="panel-body">
								<p>
									In a box, write <code class="selectionAllowed">![icon](<em>icon-code</em>)</code> to add an icon
								</p>
								<p>
									Example : <code class="selectionAllowed">![icon](<span class="emphasize">camera-retro</span>)</code> will render as <i class="fa fa-camera-retro"></i><br/>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Colors</div>
							<div class="panel-body">
								<p>
									Add any HTML-valid color.
								</p>
								<p>
									Example : <code class="selectionAllowed">![icon <span class="emphasize">red</span>](heart3)</code> will render as <i class="fa fa-heart" style="color:red"></i><br/>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Sizing</div>
							<div class="panel-body">
								<p>
									Add the following to make your icon bigger depending on the need.
								</p>
								<p>
									Example : <code class="selectionAllowed">![icon <span class="emphasize">2x</span>](camera-retro)</code>
								</p>
								<ul class="list-inline">
									<li><code>lg</code></li>
									<li><code>2x</code></li>
									<li><code>3x</code></li>
									<li><code>4x</code></li>
									<li><code>5x</code></li>
								</ul>
								<p>Doing vertical lists of icons? Add <code>fw</code> so they'll all have the same width (fixed width)</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">Link + icon</div>
							<div class="panel-body">
								<p>
									You can make an icon a link
								</p>
								<p>Remember, code for a link : <code class="selectionAllowed">[Open this document](http://link..com)</code></p>
								<p>Code for an icon : <i class="fa fa-file-pdf-o"></i> <code class="selectionAllowed">![icon](file-pdf-o)</code></p>
								<p>Together : <code class="selectionAllowed">[<span class="emphasize">![icon](file-pdf-o)</span>](http://link..com)</code></p>
							</div>
						</div>
					</div>
					<div class="col-md-12">

						<p>
							Icons by Font Awesome - <a href="http://fontawesome.io" class="skExtLink">http://fontawesome.io</a>. Thanks Dave Gandy.
						</p>
						<p>
							And Linear Icons - <a class="skExtLink" href="https://linearicons.com">https://linearicons.com</a>. Thanks <a href="https://perxis.com" class="skExtLink">Perxis</a>.
						</p>
					</div>

				</div> <!-- end row -->
			</div> <!-- end body -->

			<div class="modal-footer">
				<div class="pull-left">
					<p>
						Drag icon to canvas &nbsp;&nbsp;&nbsp;
						<span class="small">For color & size, see bottom of the list</span>
					</p>

				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
</div>
