<div class="modal fade" id="skModal_Settings" tabindex="-1" role="dialog" aria-labelledby="skModalSettingsLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalSettingsLabel">Skore Settings</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 skSettings_pagesetup"></div>
						<div class="col-md-4 skSettings_mrt"></div>
						<div class="col-md-4 skSettings_handoverhighlight"></div>
						<div class="col-md-4 skSettings_htmlExport"></div>
						<div class="col-md-4 skSettings_background"></div>
						<div class="col-md-4 skSettings_mappingMode"></div>
						<div class="col-md-4 skSettings_spellcheck"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
