<div id="skModal_Formatting" class="modal sideModal sideRight" tabindex="-1" role="dialog" data-backdrop="false" data-keyboard="false" aria-labelledby="skModalFormatLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="skModalFormatLabel">Text formatting</h4>
            </div>

            <div class="modal-body">

                <p>
                    These can be used in any "large" text fields.
                </p>

                <h4>New lines...</h4>


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td colspan="2">Note on line returns</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p><strong>For whatbox / whybox</strong></p>
                                <p>
                                    Use <kbd>Shift&nbsp;⇧</kbd> + <kbd>Enter&nbsp;↩ </kbd>
                                </p>
                                <p>to make a new line</p>
                            </td>
                            <td>
                                <p><strong>Everywhere</strong></p>
                                <p>Leave a blank line to create a new paragraph</p>
                                <p>Example:</p>
                                <p>
                                    <pre>My first line of text<kbd>↩</kbd><br><kbd>↩</kbd>(empty line)<br>My second line of text</pre>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>Basic formatting</h4>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Write...</th>
                            <th>And this renders as...</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td><code>#</code>Header 1<br/><code>##</code>Header 2</td>
                            <td><h1>Header 1<h1><h2>Header 2</h2></td>
                        </tr>
                        <tr>
                            <td>
                                <code>*<span class="explicitSpacer">˽</span></code>this<br/>
                                <code>*<span class="explicitSpacer">˽</span></code>is a<br/>
                                <code>*<span class="explicitSpacer">˽</span></code>bullet points<br/>
                                <code>*<span class="explicitSpacer">˽</span></code>list
                            </td>
                            <td>
                                <ul><li>this</li><li>is a</li><li>bullet points</li><li>list</li></ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>1.<span class="explicitSpacer">˽</span></code>and this<br/>
                                <code>1.<span class="explicitSpacer">˽</span></code>renders<br/>
                                <code>1.<span class="explicitSpacer">˽</span></code>as<br/>
                                <code>1.<span class="explicitSpacer">˽</span></code>a numbered<br/>
                                <code>1.<span class="explicitSpacer">˽</span></code>list
                            </td>
                            <td>
                                <ol><li>and this</li><li>renders</li><li>as</li><li>a numbered</li><li>list</li></ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Use <code>*</code>italic<code>*</code> text
                            </td>
                            <td>Use <i>italic</i> text
                            </td>
                        </tr>
                        <tr>
                            <td>Use <code>**</code>bold<code>**</code> text
                            </td>
                            <td>Use <b>bold</b> text
                            </td>
                        </tr>
                        <tr>
                            <td>Use <code>`</code>code notation<code>`</code> with backtick quotes
                            </td>
                            <td>
                                Use <code>code notation</code> with backtick quotes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                horizontal rule / separator<br>
                                <kbd>↩</kbd><br/>
                                <code>---</code> (3 dashes)<br/>
                                <kbd>↩</kbd><br/>
                            </td>
                            <td>
                                horizontal rule<br>
                                <hr>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>Links within a Skore <span class="label label-warning">New!</span></h4>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Write...</th>
                            <th>This will do</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <p>
                                Link to an activity box
                            </p>
                            <p>
                                <code>[link text](ID)</code>

                            </p>
                            <p>
                                Example : <code>[visit the new packaging design process](54)</code>
                            </p>
                        </td>
                        <td>
                            <p>Creates a link to the box <em>ID</em>.</p>
                            <p>To know the <em>ID</em> of a box, select 1 box and check the number in the footer.</p>
                            <p><small>The target box will be displayed and centered on screen.</small></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Link to an activity box and enter detailed view
                            </p>
                            <p>
                                <code>[link text](ID<strong>d</strong>)</code>

                            </p>
                            <p>
                                Example : <code>[visit the new packaging design process](54d)</code>
                            </p>
                        </td>
                        <td>
                            <p>Creates a link to the box <em>ID</em> and enter in the <strong>d</strong>etailed view.</p>
                            <p>To know the <em>ID</em> of a box, select 1 box and check ID number in the footer.</p>
                            <p><small>Works only for whatbox.</small></p>
                        </td>
                    </tr>
                </table>

                <h4>Links</h4>


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Write...</th>
                            <th>And this renders as...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                An explicit link to <code>https://www.getskore.com</code> (autoconverts text with http:// to a link)
                            </td>
                            <td>
                                An explicit link to <a href="https://www.getskore.com/">https://www.getskore.com</a> (autoconverts text with http:// to a link)<br/>
                            </td>
                        </tr>
                        <tr>
                            <td>A discreet link to <code class="selectionAllowed"><span style="white-space: nowrap;">[Skore](https://www.getskore.com/)</span></code>
                            </td>
                            <td>
                                A discreet link to <a href="https://www.getskore.com/">Skore</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>Images</h4>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Write...</th>
                            <th>And this renders as...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <code class="selectionAllowed">![image](http://path.to/your/image.png)<code>
                            </td>
                            <td>
                                Displays the image you are pointing to.<br/>Image <strong>must</strong> be self-hosted online (accessible via http).
                            </td>
                        </tr>
                        <tr>
                            <td> <code class="selectionAllowed">![image <span class="emphasize">noresize</span>](http://path.to/your/image.png)<code>
                            </td>
                            <td>
                                Will not resize the image to fit in the container
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h4>Icons</h4>

                <p class="alert text-center skTextIcon">
                    <a data-skaction="modal_icons">
                        Dozens of icons are ready to be used. Learn more.
                    </a>
                </p>

                <h4>More...</h4>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Write...</th>
                            <th>And this renders as...</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr>
                            <td> Leave a field blank
                            </td>
                            <td>
                                Type one single space in a field.
                            </td>
                        </tr>
                        <tr>
                            <td> Tables
                            </td>
                            <td>
                                <a href="https://help.github.com/articles/organizing-information-with-tables/" class="skMkdownTableDoc">Click here for documentation</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>
</div>
