<div class="modal fade" id="skModal_XML" tabindex="-1" role="dialog" aria-labelledby="skModalXMLLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModalXMLLabel">XML Playground</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<textarea class="form-control selectionAllowed skXMLTextarea">Loading...</textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" data-loading-text="Loading..." class="btn btn-primary skXMLApplyChange">Apply changes</button>
			</div>
		</div>
	</div>
</div>
