<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">HTML Export server</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="htmlServer">Server for HTML Export</label>
			<input type="text" class="selectionAllowed form-control" id="htmlServer" placeholder="https://justskore.it/?embed">
		</div>
		<div class="form-group forDev" style="display:none">
			<div class="checkbox">
            	<label>
              		<input type="checkbox" class="useProdHtmlEmbed" />
               		Use PROD : http://justskore.it/?
            	</label>
		</div>
		<button class="btn btn-default skSaveHTMLServer">Save</button>
	</div>
</div>
