<div id="skModal_Attachments" class="modal sideModal sideRight" tabindex="-1" role="dialog" aria-labelledby="skModal_AttachmentsLabel" data-backdrop="" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header skAttHeaderTitle">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="skModal_AttachmentsLabel">
					<span class="skAttCurrentIcon">
						<i class="fa fa-paperclip"></i>
					</span>
					<span data-toggle="tooltip" data-placement="bottom" title="Text of the current box" class="skAttachmentBoxName"></span>
				</h4>
			</div>
			<div class="modal-header skAttHeaderSwitcher">
				<div class="btn-group btn-group-justified skAttSwitcher" role="group">
				  <div
				  	class="btn-group btn-group-xs"
			    	data-toggle="tooltip"
			    	data-placement="bottom"
			    	title="Attachments"
				  	role="group">
				    <button type="button" data-attbtn="attachments" class="btn btn-default active" >

						<i class="fa fa-paperclip"></i></button>
				  </div>
				  <div class="btn-group btn-group-xs" data-toggle="tooltip" data-placement="bottom" role="group"  title="Responsibilities">
				    <button type="button" data-attbtn="responsibilities" class="btn btn-default">
				    	<i class="fa fa-user"></i>
				    </button>
				  </div>
				</div>
			</div>
			<div class="modal-body">
				<div class="alert alert-info in skAttPanelTutorial" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span class="skAttPanelTutorialClose" aria-hidden="true">&times;</span>
					</button>
					<p>
						Attachments are great for linking to documents or collecting more information such as descriptions, systems or durations.
					</p>
				</div>



				<!-- actual content -->
				<ul class="list-group skSearchable skAttList">
				</ul>

			</div>

			<div class="modal-footer">
				<!-- buttons -->
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<div class="newAttaButtonGroup pull-left"></div>

			</div>

		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->

</div>
