<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Spell Check</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input class="spellcheckbox" type="checkbox" />
					Enable Spell Checker
				</label>
				<span class="help-block">Spell checker is only available for American English (en-US) at the moment</span>
			</div>
		</div>
	</div>
</div>
