
.analyticsPage {

    /*padding-top: 45px;*/

}
.skAnalyticsOverview .dl-horizontal dt {
	width: 50px;
}
.skAnalyticsOverview .dl-horizontal dd {
	margin-left: 60px;
}

.leftCounter {
	display: inline-block;
	min-width: 20px;
	/*border:1px solid #F0F0F0;*/
	/*background-color:#F0F0F0;*/
	margin: 0;
	text-align: right;
	border-radius: 5px;
	margin-right: 10px;
	margin-: 10px;
	font-weight: 700;

}

a.list-group-item, .list-group-item a {
	text-decoration: underline;
	cursor: pointer;
}
