/*
 * CSS for attachment editor
 *
 *
 *********************/

/*
 * edit button
 *
 */

a.att_edit {

	display: block;
	position: relative;
	float: right;
	right: 0px;

	color: #bbb;
	cursor: pointer;
	font-size: 12px;
}

a.att_edit:hover {
	color: blue;
	text-decoration: underline;
}


/**
	editor
**/

.att_editor {
	padding: 5px;
	font-size: 12px;
	padding-left: 10px;
	background: #f0f0f0;
}

.att_editor input, .att_editor textarea {
	width: 90%;
}

/*.att_editor_buttons {
	font-size: 12px;
}*/
