
.att_item {
	line-height: 1.9;
}

#skModal_Attachments .list-group-item {
	padding: 10px 2px;
	border: none;
}
#skModal_Attachments .list-group-item:hover {
	background-color: rgba(221, 221, 221, 0.16);
	border-radius: 3px;
}

#skModal_Attachments .skAttList {
	text-align: left;
}
.attachments {
	align-items: flex-start;
}
#skModal_Attachments .formContainer.text {
	width: 100%;
	text-align: left;
}

.sortable-highlight {
	height: 1.5em; line-height: 1.2em;
	background-color: orange;
}
