
/*
 * box style
 *
 *
 *********************/

.defaulttext {
	color: #808080;
	font-style: italic;

}

.skFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*height: 100%;*/
    padding: 0;
    width: 100%;
}

.skFormContainer .viewerMode.longtext {
    min-height: 45px;
    /*border: 1px solid red;*/

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
}
.skFormContainer .viewerMode.longtext > * {
    width: 100%;
    /*border: 1px solid green;*/
}

/* override bootstrap */
.formContainer p {
    margin: 0;

}

.skAttList .viewer {
    width: 100%;
    align-items: flex-start;
    /*border: 1px solid red;*/
}

/*.viewer.whatbox,
.viewer.stickynote {
    width: 100%;
    border: 1px solid red;
}*/

.whybox .longtext:first-child {
    min-height: 70px;
    /*border: 1px solid red;*/
}




.skForm {
    width: 100%;
}

.viewer.longtext.stickynote {
    align-items: flex-start;
    /*border: 1px solid red;*/
}

.box .viewer.longtext.whybox:first-child {
    min-height: 70px;
    /*border: 1px solid red;*/
}
.viewer.longtext.text {

    display: flex;
    flex-direction: column;
    justify-content: center;

    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 3px;
}
.viewer.longtext.text.stickynote {
    min-height: inherit;
}

.separator.whoWhatLine {
    width: 102%; /* seems to work well... */
}

/*
 *
 * responsibility
 *
 *
 */

.skFormContainer .responsibility.viewerMode {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*border: 1px solid red;*/
    min-height: 30px;
}

.skFormContainer .responsibility .checkbox{
    margin: 2px 0 4px;
}

.skFormContainer.whatbox .role {
    /*min-height: 20px;*/
    font-size: 0.8em;
}

/*
 *
 *
 *
 *
 */

.skFormContainer .editable {
    cursor: pointer;
}
.viewer.editable {
    cursor: text;
}

.viewer .stickynote.text {
    padding: 4px;
}

.editor .formatButton {
    text-align: right;
    font-size: 10px;
    /*margin-top:-10px;*/
    position: relative;
}

.skFormContainer .longtext ol,
.skFormContainer .longtext ol li,
.skFormContainer .longtext ul,
.skFormContainer .longtext ul li {

    padding-right: 0;
    text-align: left;
    align-items: flex-start;

}

.debug {
    position: absolute;
    z-index: 99999;
    top: 10px;
    left: 10px;
    background-color: white;
}

.cellEditor {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 5px;
    margin: 0px;
    border: 1px solid orange;
    background-color: white;
}

.formContainer .btn-group,
.cellEditor .btn-group {
    /*width: 100%;*/
    float: right;
    margin: 4px 0;
}

.skField.button,
.tag {

    font-size: 10px;
    text-align: center;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    margin: 4px 2px 4px 2px;
    padding: 0 4px;
    min-width: 16px;
}


/*
 *
 * attachments
 *
 *
 */

.skAttList .editButtons {
    margin: 5px 0 5px 0;
    text-align: right;
}

.skAttList .skFormContainer .attSeparator {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
}
