
.actionIcon {

	font-size: 20px;
}

.actionIconWrapper{
	cursor: pointer;
	/*border: 1px solid red;*/
}

i.actionIconWrapper {
	padding: 10px;
	/*border: 1px solid red;*/
}

/* special for the drill down */
div.actionIconWrapper {
	padding: 10px;
}

i.actionIcon {
	/*background-color: white;*/
}

i.actionIcon.highlight.fa-paperclip {
	background-color: #FFFF88;
}

i.actionIcon.fa-paperclip {
	background-color: inherit;
}

div.actionIconWrapper:hover i.actionIcon,
i.actionIcon:hover {
	color:orange !important;
	text-shadow: 0px 0px 5px rgba(192, 192, 192, 1);
	/*background-color: white;*/
}

/* exception for remove */

i.actionIcon.actionIconRemove {
	color : rgb(128, 128, 128);
	background-color: inherit;
}

i.actionIcon.actionIconRemove:hover {
	color: red;
}

.actionIconBadge.badge {
	background-color: #50DC93;
}
