
/*
 * cardshoe in sidebar
 *
 */

.cardshoe {
	display: table;
	border-radius: 3px;
	min-width: 100px;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	margin: 40px auto;
	color: #50DC93;
	background-color: rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

.cardshoe.disabled {
	cursor: not-allowed;
}

.cardshoe.disabled .cardshoe-box-text,
.cardshoe.disabled .boxKeyword {
    color: gray;
}

.cardshoe .cardshoe-box {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	border: 2px solid black;
	padding: 10px;
	min-height: 50px;

	max-width: 190px;
}

/*different because this style is used elsewhere*/

.cardshoe .cardshoe-box {
	text-transform: uppercase;
	width: 90px;
}

.cardshoe .cardshoe-box-yb{
	/*width: 100px;*/
	border:2px solid black;
	border-top-left-radius: 10px 50%;
	border-top-right-radius: 10px 50%;
	border-bottom-left-radius: 10px 50%;
	border-bottom-right-radius: 10px 50%;

	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;

}
.cardshoe .boxKeyword{
	color: white;
	display: block;
}

.icon_dragged {

	border: 2px solid #BDBDBD;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 10px white;

	cursor: pointer;
}

.icon_dragged_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* whatbox */
.icon_whatbox_dragged {
	border: 2px solid #BDBDBD;
	border-top-width: 1px;
	border-bottom-width: 1px;
	width: 190px;
	height: 80px;
	display: table;
}
/* whybox */
.icon_whybox_dragged {
	width: 100px;
	height: 80px;
	display: table;
	border-top: none;
	border-bottom: none;
}

/* note */
.icon_stickynote_dragged {
	width: 190px;
	height: 80px;
	display: table;
}

/* for list of inputs & outputs */

.skSideMenu .skWhyBoxIOList ul {
	padding: 0;
}
.skSideMenu .skWhyBoxIOList .cardshoe {
	min-width: 150px;
	margin: 5px auto;
}
.skSideMenu .skWhyBoxIOList .cardshoe .cardshoe-box {
	text-transform: inherit;
	min-width: 140px;
}
