
/*
 * Cell Editor -- general
 *
 *********************/

.input-sm {
	height: 30px;
}

.typeahead.dropdown-menu {
    max-height: 350px;
    overflow-y: scroll;
}

.cellEditor {
	/*text-align: center;*/
	margin-left: -2px;
	/*border: 3px solid orange;*/
	background-color: white;
	margin-top: -3px;
	margin-left: 0px;
	padding: 3px;
}

/*
 * GROUP
 *
 *
 *********************/

.cellEditor.group {
	width: 200px;
	/*height: 50px;*/
	margin-top: -50px;

}

/*
 * STICKYNOTE
 *
 *********************/

.cpList {
	text-align: center;
}

.colorPicker label {
	width: 22px;
	height: 22px;
	box-shadow: 0 0 1px gray;
}

.colorPicker input[type="radio"] {
	display:none;
}

.colorPicker input[type="radio"]:checked + label {
	border: 3px solid orange;
	box-shadow: 0 0 10px orange;
}

.colorPicker .editorSubTitle {
	font-size: 10px;
	text-align: left;
	display: block;
}

.colorPicker {
	line-height: 24px;
	display: list-item;
	/*float: left;*/
	list-style-type: none;
}

/*
 * TITLE
 *
 *********************/

.cellEditor.title  {
	padding-left: 3px;
	margin-top: -3px;
}

.cellEditor.title .textEditor input {
	height: 10px;
}

/*
 * RESOURCE
 *
 *********************/

.resourceEditor {
	margin-top: 8px;
	margin-bottom: 2px;
}

/*
 * TAG
 *
 *********************/

.form-editor.buttonbar {
	margin-top: 2px;
}

/*
* on diagram icons
*********************/

/*
 * expanding area
 *
 */

.expandingArea {
	position: relative;
	border-width: 1px; /* solid #888; */
	background: #fff;
	min-height: 70px;
}

.expandingArea > textarea,
.expandingArea > pre {
	padding: 5px;
	background: transparent;
	font: 400 13px/16px 'Open Sans', arial, sans-serif;
	/* Make the text soft-wrap */
	white-space: pre-wrap;
	word-wrap: break-word;
}

.expandingArea > textarea {
	/* The border-box box model is used to allow
	 * padding whilst still keeping the overall width
	 * at exactly that of the containing element.
	 */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  	width: 100%;
  	/* This height is used when JS is disabled */
  	height: 100px;
}

.expandingArea.active > textarea {
	/* Hide any scrollbars */
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	/* Remove WebKit user-resize widget */
	resize: none;
}

.expandingArea > pre {
  	display: none;
}

.expandingArea.active > pre {
	display: block;
	/* Hide the text; just using it for sizing */
	visibility: hidden;
}
