
.skGraphManager {
	left:289px;
	top:45px;
	padding: 0;
	background-color: #333333;
	box-shadow: inset 0 10px 10px -10px black;

}

.skGraphManager > li {
	padding: 8px 15px;
	margin: 2px 0 2px 0;
	border-width: 1px ;

	/*border-bottom-left-radius: 5px;*/
	/*border-bottom-right-radius: 5px;*/
	/*background-color: #f5f5f5;*/
}
.skGraphManager > li.active {
	background-color: black;
}
.skGraphManager > li+li {
	margin-left: -4px;
}
.skGraphManager>li+li:before {
	/*content:"\007c";*/
	content:"";
	padding: 0;
}
