
/*
 * tutorial box "extends" skInfoBox
 *
 *
 *********************/


.skHint {

	width: 190px;

	border-color: orange;

	cursor: pointer;

	text-align: center;

	background: rgba(152, 205, 240, 0.98);

	box-shadow: 0 0 20px #c2e1f5;

	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-name:glow;
	-moz-animation-duration:1s;

	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-name:glow;
	-webkit-animation-duration:1s;

	transform-origin:50% 50%;


}

/*
 * Hint bubble
 *
 ***************/

.hint_title {
	text-transform: uppercase;
	padding-bottom: 5px;
	/*font-weight: bold;*/
	text-shadow: white 0 0 10px;
}

/*
 * Glowing effect
 *
 *
 *********************/

@-webkit-keyframes glow {
	0% {
		-moz-box-shadow: 0 0 20px orange;
		-webkit-box-shadow: 0 0 20px orange;
		box-shadow: 0 0 20px orange;
	}
	50% {
		-moz-box-shadow: 0 0 1px orange;
		-webkit-box-shadow: 0 0 1px orange;
		box-shadow: 0 0 1px orange;
	}
	100% {
		-moz-box-shadow: 0 0 20px orange;
		-webkit-box-shadow: 0 0 20px orange;
		box-shadow: 0 0 20px orange;
	}
}
