/*
 * skInfoBox
 *
 * Style for all the info box used in the software
 *
 * Define styles of arrows too
 *
 *********************/


.skInfoBox {

	padding: 10px;

	background: white;
	border: 1px solid #067C7E;

	/*border-radius: 10px;*/

	position: absolute;

	z-index: 99999;

	box-shadow: 0px 0px 20px orange;

}

.skInfoBox div {
	padding: 5px;
}

.skInfoBox .section {
	border-bottom: 1px solid black;
}
.skInfoBox .section:last-child {
	border-bottom: none;
}

/*
 * icons
 *
 */

.skInfoBox .menuIcon {
	margin-right: 5px;
	color: orange;
}

/*
 * content
 *
 */

.skInfoBox_block {

	float :left;
	width: 45%;
	text-align: center;
}


.skInfoBox .separator {


	border-top:1px solid gray;
	font-weight: bolder;
	margin-top:10px;
	text-transform: uppercase;

}

.skInfoBox .mainDescription:hover {
	background-color: #F0F0F0;
	cursor: pointer;
}

.section.menuDisabled .mainDescription:hover {
	background-color: white;
	cursor: default;
}

.section.menuDisabled {
	color: darkgray;
}

.skInfoBox .smallDescription {
	font-size: 12px;
}
/*.skInfoBox .mainDescription.noInteraction:hover {
	background:none;
}
.skInfoBox .mainDescription.noInteraction .smallDescription {
	cursor: default;
}
*/
.skInfoBox .more {
	padding-left: 10px;
	font-size: 12px;
	margin-bottom: 10px;
}
.skInfoBox .more li {
	padding-top: 5px;
}


.skInfoBox button{
	background-color: orange;
	border : 1px solid #505050;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 10px;
	padding : 5px;
}

.skInfoBox .success {
	background-color: #F0F0F0;
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
}






/*
 * Close button
 *
 */

.skDialogClose {
	position:absolute;
	width:9px;
	height:9px;
	opacity:0.5;
	cursor:pointer;
	_filter:alpha(opacity=50);
}

.skDialogClose:hover {
	opacity:1;
}


/*
 * NEW for experiment
 *
 *
 *********************/

.skDialog {

	transition: all .3s ease;

	position: absolute;

	width: 700px;
	max-height: 100%;
	/*overflow: auto;*/

	left: 0;
	right: 0;
	top: 0;

	margin: 0 auto;

	z-index: 10000000;

	font-size: 12px;

	border: 1px solid #067C7E;
	background-color: white;
}

.skDialog.expanded {
	width: 100%;
}

.dialogPinned {
	left: auto;
	margin: auto;
	right: 0;
	top: 0;
	width: 442px;
	border-top-width: 0;
	border-bottom-width: 0;
	border-right-width: 0;
	/*height: 100%;*/
}

.skDialog_header {
	/*position: relative;*/
	height: 60px;
	position: relative;
}
.skDialog_title {
	position: absolute;
	float: left;

	width: 100%;
	text-align: center;
	/*line-height: 60px;*/
	font-size:25px;
	line-height: 50px;

	pointer-events: none;
}

.skDialog_content {
	/*position: relative;*/
	/*width: 100%;*/
	background-color: white;
	height: 100%;
	/*border: 1px solid #067C7E;*/

	/*max-height: 500%; will be calculated*/
	/*overflow: auto;*/
	box-sizing: border-box;

	overflow-y: scroll;

	padding: 10px;
}
.skDialog_footer {
	position: absolute;
	width: 100%;
	text-align: right;
	height: 20px;
	bottom: 0;
	text-transform: uppercase;
	margin-right: 10px;

}
.dialogButton {
	/*position: absolute;*/
	float:right;
	/*right: 0;*/
	min-width: 50px;
	/*padding-top: 7px;*/
	/*border: 1px solid #067C7E;*/
	border-bottom: none;
	/*text-align: right;*/

	background-color: white;
	height: 60px;

	text-align: center;
	text-transform: uppercase;

	cursor: pointer;
}

.dialogCloseButton:hover {
	color: red;
}

.dialogIcon {
	margin: 0 auto;
	text-align: center;
	padding-top: 10px
}

.dialogButtonText {
	padding:10px 7px 0px 7px
}

/*.skDialog button, .skDialog .button {
	background-color: orange;
	border : 1px solid #505050;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 10px;
	padding : 5px;
}*/

/*.skDialog button.floatRight {
	float: right;
}*/




/*
 * arrows
 *
 */



.skInfoBox_arrow:after, .skInfoBox_arrow:before {

	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.skInfoBox_arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 9px;
}
.skInfoBox_arrow:before {
	/*border-color: rgba(194, 225, 245, 0);*/
	/*border-color: #067C7E;*/
	border-width: 10px;
}

.skInfoBox_arrow_top:after, .skInfoBox_arrow_top:before {
	bottom: 100%;
}
.skInfoBox_arrow_right:after, .skInfoBox_arrow_right:before {
	left: 100%;
}
.skInfoBox_arrow_bottom:after, .skInfoBox_arrow_bottom:before {
	top: 100%;
}
.skInfoBox_arrow_left:after, .skInfoBox_arrow_left:before {
	right: 100%;
}


.skInfoBox_arrow_top:after {
	border-bottom-color: white;
	left: 50%;
	margin-left: -4px;
}
.skInfoBox_arrow_top.90R:after {
	left: 90%;
}
.skInfoBox_arrow_right:after {
	border-left-color: white;
	top: 50%;
	margin-top: -5px;
}
.skInfoBox_arrow_bottom:after {
	border-top-color: white;
	left: 50%;
	margin-left: -4px;
}
.skInfoBox_arrow_left:after {
	border-right-color: white;
	top: 50%;
	/*margin-top: -5px;*/
}

.skInfoBox_arrow_top:before {
	border-bottom-color: #067C7E;
	left: 50%;
	margin-left: -5px;
}
.skInfoBox_arrow_top.90R:before {
	left: 90%;
}
.skInfoBox_arrow_right:before {
	border-left-color: #067C7E;
	top: 50%;
	margin-top: -6px;
}
.skInfoBox_arrow_bottom:before {
	border-top-color: #067C7E;
	left: 50%;
	margin-left: -5px;
}
.skInfoBox_arrow_left:before {
	border-right-color: #067C7E;
	top: 50%;
	/*margin-top: -6px;*/
}

.skInfoBox_arrow_top_right:after, .skInfoBox_arrow_top_right:before {
	bottom: 100%;
}

.skInfoBox_arrow_top_right:after {
	border-bottom-color: white;
	left: 95%;
	margin-left: -4px;
}
.skInfoBox_arrow_top_right.black:after {
	border-bottom-color: white;
}


.skInfoBox_arrow_top_right:before {
	border-bottom-color: #067C7E;
	left: 95%;
	margin-left: -5px;
}


.skInfoBox.forAttachment {
	background-color: rgba(152, 205, 240, 0.98);
	width: 90%;
	font-size: 14px;
	position: relative;
}

