
/*
 * normal buttons
 *
 */

.navbar-default .dropdown-menu>li>a.disabled,
.disabled .fa,
.disabled kbd {
	color: #545454;
}


/*
 * align buttons
 *
 */


svg.formatBtn {
	vertical-align: middle;
}

.disabled svg.formatBtn .block {
	stroke: #545454;

}
svg.formatBtn .block {
	stroke: white;
}
.disabled svg.formatBtn .blockEmpty {
	fill: #333333;
}
svg.formatBtn .blockEmpty {
	fill: black;
}
.disabled svg.formatBtn .blockFull {
	fill: #545454;
}
svg.formatBtn .blockFull {
	fill: white;
}
