
.skSideMenu {

	z-index: 10;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    background: #333;

    left: 35px;
    top: 75px;
    bottom: 175px;
    width: 215px;

    font-size: 15px;
	font-weight: 300;

	color: #50DC93;

	box-shadow: inset 0 10px 10px -10px black;

}

.skSideMenu h3 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.skSideMenu h3 {
	border-top : 6px solid rgba(0, 0, 0, 0.17);
	padding-top: 10px;
}

.skSideMenu h3:first-of-type {
	border-top : none;
}

.skSideMenu h3,
.skSideMenu p {
	padding-left: 20px;
	padding-right: 10px;
	margin-left: 2px;
}


.skSideMenu p {

	padding-top: 10px;
	padding-bottom: 10px;
}
.skSideMenu p.disabled {
	color: #545454;
}
.skSideMenu p.disabled .explanation {
	color: #545454;
}
.skSideMenu .explanation.silent,
.skSideMenu p.disabled:hover {
	background-color: inherit;
	cursor: auto;
}

.skSideMenu p:hover,
.skSideMenu div.cs:hover {
	background-color: #272727;
	cursor: pointer;
	/*color:white;*/
}

.skSideMenu .explanation {
	font-size: 13px;
	padding-top: 5px;
	display: block;
	color:#bbb;

}

.skSideMenu .subIcon {
	z-index: -1;
	position: absolute;
	width: 100%;
	margin-left: 30px;
	margin-top:-50px;
	text-align: right;
}
.skSideMenu .subIcon .fa{
	font-size: 150px;
	color: rgba(0, 0, 0, 0.3);
	text-indent: 10px;
}

.skSideMenu.mini, .skOutline.mini {
	width: 0px;
}
