
.skTabMenu {
	position: fixed;
    width: 35px;
    top: 45px;

    left: 0px;
	bottom: 25px;

    z-index: 9;

    background-color: #333;
    box-shadow: inset 0px 0px 10px black;
}

.skNavTabs {
	border-bottom: none;
    width: 487px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform-origin: bottom left;
    margin-top: -36px;
    pointer-events: none;
}
.skNavTabs li {
	pointer-events: auto;
}


.skNavTabs .active {
	background-color: #333;

}
.skNavTabs>li.active>a {
	border-color: #333;
	color:white;
	background-color: #333;
	box-shadow: 0px -3px 10px black;
}
.skNavTabs>li>a {
	color: white;
	background-color: inherit;
	transform : scale(-1, -1);
	font-size: 13px;
	font-weight: 300;

}
.skNavTabs>li>a:hover,
.skNavTabs>li>a:focus {
	background-color: #333;
	border: 1px solid #333;
	color: white;
	box-shadow: 0px -3px 10px black;
}

.skNavTabs>li.active>a,
.skNavTabs>li.active>a:hover,
.skNavTabs>li.active>a:focus {
	background-color: inherit;
	border-color: #333;
	color: white;
}
