.footer {

	position: fixed;
	right: 0px;
	bottom: 0px;
	left: 0px;

	height: 25px;

	line-height: 25px;

	border-top: 1px solid #dddddd;
	background-color: #f5f5f5;
}

.footer li {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	margin-left: 5px;
	cursor: pointer;
	text-transform: uppercase;

	border-bottom: none;
	padding-right: 10px;
	padding-left:10px;

	border-right : 1px solid #ddd;
	list-style: none;
}

.footer li:hover {
	background: white;
	cursor: pointer;
	color:#067C7E;
}

.footer .skFooter_IDs {
	float: left;
}
.footer .skFooter_IDs.on {
	background-color: #50DC93;
}

.footer .kbdshortcut {

	margin-right: 15px;
	padding: 0 2px;
	border: 1px solid #ddd;
}
.footer .kbdshortcut kbd {
	padding: 2px 4px 0px 4px;
	background-color: rgba(51, 51, 51, 0.5);
	box-shadow: none;
}

