
.skCardShoe {
	display:none;
}

.menuSearchForm {
	margin-top: 5px;
	/*margin-left: -58px;*/
}
.menuSearchForm .input-group-sm>.input-group-btn>.btn {

	height: 31px;
	padding: 0 12px;

}
.menuSearchForm .skMenuFind_match {
	height: 31px;
	padding: 0 12px;
}
.menuSearchForm .skMenuFind_input {
	height: 31px;
}

.skResultList li a{
	max-width: 300px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
