.navbar-sk .nav {
	pointer-events:auto;
}

.skMenuViewEgal:before {
	content: "=";
	font-size: 18px;
	font-weight: bold;
}

.sk-large-menu {
	width: 220px;
}

.experimental.block {
	display: block;
}
.experimental {
    border: 1px solid orange;
    border-radius: 6px;
    padding: 2px 5px 2px 5px;
    font-size: 0.7em;

}
