
/*
 * wings for menu
 *
 */

.skWingMenu {
    position: fixed;
    top:76px;
    z-index: 99;
}
.skWingMenuLeft {
    left:250px;
}
.skWingMenuRight {
    right:0px;
}

/*
 * for inputs / outputs
 *
 */
/*
.skWingIOList {
    width: 200px;
}

.skWingIOList .dropdown-header p {
    text-transform: none;
    white-space: normal;
    color: white;
    font-size: 12px;
    padding: 0;
}

.skWingIOList .dropdown-header p.nothingToShow {
    color: #50DC93;
}

.skWingIOList .cardshoe-box {
    width: 120px;
}
*/
