/*
 * skMenu_outline.css
 *
 */


.outlineBox {
    display: block;
    overflow:hidden;
    position: fixed;

    background-color: #333;
    border-right: 1px solid #333;

    height: 135px;

    left: -1px; /* to compensate border */

    z-index: 11;

    box-shadow: 0 -5px 5px -6px black;

}

#skOutline {

    height: 135px;
}
