.registrationStuffs {
    margin-right: 0;
}
.dropdown-menu.skRegistrationDetailsDropDown {
    background-color: white;
    min-width: 450px;
}
/*.skRegistrationDetailsDropDown h2, .skRegistrationDetailsDropDown p, .skRegistrationDetailsDropDown dt, .skRegistrationDetailsDropDown dd  {*/
.dropdown-menu h3,
.dropdown-menu p,
.dropdown-menu dt,
.dropdown-menu dd  {

    display: block;
    padding: 3px 20px;
    clear: both;

    line-height: 1.42857143;
    color: #333;
    white-space: normal;

}
.skRegistrationDetailsDropDown dd {
    margin-bottom: 10px;
}
.skRegistrationDetailsDropDown h3 {
    margin: 0px;
}


