
.masonryWall {
	-moz-column-width: 18em;
 	-moz-column-gap: 1em;

 	-webkit-column-width: 18em;
 	-webkit-column-gap:1em;
}
.masonryBrick {
	display: inline-block;
	padding:  .25rem;
	width:  100%;
}
.masonryElement {
	position:relative;
 	display: block;
}

.iconItem.disabled {
    color: gray;
    cursor: not-allowed;
}
.iconItem {

    border-width: 1px;
    margin-bottom: 5px;
    padding-top: 8px;
    border-radius:2px;
    text-align: center;
    cursor: pointer;
}

/*
 * icons
 *
 */

.sideModal .emphasize {
    border-bottom: 2px dotted purple;
    padding: 0 3px;
}

/*
 * stylesheet
 *
 */

.skApplyAsDefaultContainer {
    padding-right: 10px;
}

/*
 * page format
 *
 */


fieldset[disabled] {
    color : #CCC;
}

.explicitSpacer {
    color : #CCC;
    padding: 0 2px;
}

img.imageExport {
    top: 0;
    left: 0;
    position: absolute;
    border: 1px solid red;
    z-index: 99999999;
}
