
/*
 * skNavigatorUI
 *
 * base UI
 *
 */


/*
 * VIEWER
 *
 *
 *********************/
.bodyFullSize {

	overflow: hidden;
}


.highlight,
.highlightSearch,
i[data-iconaction].highlight {

    background-color: #FFFF88;
    box-shadow: 0 0 20px #FFFF88;
}

hr {

	width: 100%;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));

}

kbd > span {

    font-size:1.3em;
}

/*
 * Diagram / Canvas
 *
 *
 *********************/

.skDiagramContainer {

	position: fixed;
	left: 1px;
	top: 75px;
	right: 0;
	outline: 0;
    bottom: 25px;

}


.mainContainerBackground {

	background-image: url("../images/Skore_BrainStorm_BackgroundImage_lofi.jpg");
	background-repeat: repeat;
}


.geBackgroundPage {

	box-shadow: 0 0 15px #333;
}

.skFooter {
	z-index: 10;
}
