
/*
 * css for attachment
 *
 */

.sideModal {
	z-index: 1050;
	pointer-events:none;

}

.sideModal .modal-dialog {
	pointer-events:none;
	margin: 0;
	/*margin-left: 20px;*/
	position: fixed;

}

.sideModal.sideRight .modal-dialog {
	top: -1px;
	right: 0;
	bottom: -1px;

}
.sideModal.sideLeft .modal-content {
	border: none;
	/*border-right:1px solid black;*/
}

.sideModal .modal-content {

	pointer-events: auto;
	border-radius: 0;

}
.sideModal.sideLeft .modal-content {
	/*box-shadow: 8px 0 5px -5px rgba(0,0,0,.5);*/
	box-shadow: none;
	border-right:1px solid #333;

	/*border-bottom: 1px solid #C0C0C0;*/
}
.sideModal.sideRight .modal-content {

	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
/*
 * for keyboard shorcuts
 *
 */

.sideModal .table td{
	width: 50%;
}
	/* Let's get this party started */
/*.sideModal ::-webkit-scrollbar, .modal-content ::-webkit-scrollbar {
	width: 25px;
}*/

/* Track */
/*.sideModal ::-webkit-scrollbar-track, .modal-content ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}*/

/* Handle */
/*.sideModal ::-webkit-scrollbar-thumb, .modal-content ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255,0,0,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.sideModal ::-webkit-scrollbar-thumb:window-inactive, .modal-content ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}*/

.sideModal ::-webkit-scrollbar {
	width:12px;
	height:12px;
}
.sideModal ::-webkit-scrollbar-track {

	-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
}
.sideModal ::-webkit-scrollbar-thumb {

	border-radius:10px;
	border:whiteSmoke solid 3px;
}
.sideModal ::-webkit-scrollbar-thumb:hover {

	border:red solid 3px;
}


.ui-resizable-helper {
	/*z-index: -1;*/
	border: 2px dotted #50DC93;
}

.sideModal.sideRight .ui-resizable-w,
.sideModal.sideLeft .ui-resizable-e
 {
	cursor: ew-resize;
}
