/*
 * Status message
 *
 *
 *********************/

.status {

    position: fixed;
    z-index: 99999999;
    right: 10px;
    top: 10px;
    width: 300px;

    text-align: center;

    pointer-events:none;

}

.status div {

    min-height: 15px;
    margin-top: 10px;
    text-align: center;
}

.status button {
    pointer-events:auto;
}

.status .statusMessage {
    width: 200px;

}

.status .closeStatusButton {

    color: black;
    cursor: pointer ;
    border: 1px solid #C0C0C0;
    background-color: #EAEAEA;
    padding: 4px;
    margin-top: -4px;
}
.status .closeStatusButton:hover {

    color: #067C7E;
    background-color: white;
}
.status .closeStatusButton .menuIcon {
    margin-right: 10px;
}


