
.skSideMenu {

	top: 45px;
	bottom: 175px;
}

.navigators {
	right: 0;
	margin-bottom: 0px;
	border-radius: 0;
	position: fixed;
	min-height: 30px;
	font-size: 12px;
	text-transform: initial;
	border: 0;
	background-color: #f5f5f5;
	z-index: 9;
}

.skDiagramNavigator {
	top: 77px;
	width: 30px;
}

.skTitle {
	left:289px;
	top:77px;
}

.skTitle>li:first-child a {
	font-weight: bold;
}

.skTitle .isGroup {
	text-decoration: none;
	cursor: default;
	color:inherit;
}

.skTitle>li {
	pointer-events: initial;
	vertical-align: top;
	max-width: 300px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.skTitle>li+li:before {
	content:"\003E";
}

.skTitle li .fa {
	/*display: none;*/
	display: inline-block;
	padding-right: 5px;
	color: #828282;
}

.popover {
	border: 1px solid #868686;
}

.popover-content {
	overflow-y: scroll;
}

.treeview .list-group{
	overflow-x: scroll;

}
.treeview .list-group-item{
	border-width:0px;

	max-width: 300px;
	white-space: nowrap;
  	/*overflow: hidden;*/
  	/*text-overflow: ellipsis;*/
	/*color: black;*/
}

.treeview li.list-group-item.node-treeview.node-checked a {

	font-weight: bold;

}

