
	<li data-skaction="editMenu" class="dropdown forGraphEditor">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit <span class="caret"></span></a>
		<ul class="editMenu dropdown-menu sk-large-menu">
			<li>
				<a data-skaction="undo">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>Z</kbd></span>
					<i class="fa fa-undo"></i>
					Undo
				</a>
			</li>
			<li>
				<a data-skaction="redo">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>Y</kbd></span>
					<i class="fa fa-repeat"></i>
					Redo
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a data-skaction="copy">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>C</kbd></span>
					<i class="fa fa-files-o"></i>
					Copy
				</a>
			</li>
			<li>
				<a data-skaction="paste">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>V</kbd></span>
					<i class="fa fa-clipboard"></i>
					Paste
				</a>
			</li>
			<li>
				<a data-skaction="cut">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>X</kbd></span>
					<i class="fa fa-scissors"></i>
					Cut
				</a>
			</li>
			<li>
				<a data-skaction="delete">
					<span class="pull-right"><kbd>Del</kbd> or <kbd>←</kbd></span>
					<i class="fa fa-trash-o"></i>
					Delete
				</a>
			</li>
		</ul>
	</li>
