	<li data-skaction="formatMenu" class="dropdown forGraphEditor">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Format <span class="caret"></span></a>
		<ul class="formatMenu dropdown-menu sk-large-menu">

			<!-- group -->
			<li>
				<a data-skaction="group">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>G</kbd></span>
					<i class="fa fa-object-group"></i>
					Group
				</a>
			</li>
			<li>
				<a data-skaction="unGroup">
					<span class="pull-right"><kbd><span class="skCtrlOrCmd"></span></kbd> + <kbd>U</kbd></span>
					<i class="fa fa-object-ungroup"></i>
					Ungroup
				</a>
			</li>
			<li class="divider"></li>
			<!-- front / back -->
			<li>
				<a data-skaction="bringFront">
					<span class="pull-right"><kbd>F</kbd></span>
					<svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="9" height="9"  stroke-width="1"></rect>
						<rect class="block blockFull" shape-rendering="crispEdges" x="10" y="8" width="9" height="9" stroke-width="1"></rect>
					</svg>
					Bring to front
				</a>
			</li>
			<li>
				<a data-skaction="sendBack">
					<span class="pull-right"><kbd>B</kbd></span>
					<svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">


						<rect class="block blockFull" shape-rendering="crispEdges" x="10" y="8" width="9" height="9" stroke-width="1"></rect>
						<rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="9" height="9" fill="black" stroke-width="1"></rect>
					</svg>
					Send to back
				</a>
			</li>
			<li class="divider"></li>
			<!-- align -->
			<li>
				<a data-skaction="alignTop">
					<span class="pull-right"><kbd>T</kbd></span>
					<svg class="formatBtn" width="20" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
						<line class="block" shape-rendering="crispEdges" x1="2" x2="18" y1="2" y2="2" fill="" stroke-width="1"></line>
						<rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="4" height="9" fill="" stroke-width="1"></rect>
						<rect class="block blockEmpty" shape-rendering="crispEdges" x="10" y="4" width="4" height="12" fill="" stroke-width="1"></rect>
					</svg>
					Align tops
				</a>
			</li>
			<li>
				<a data-skaction="alignCenter">
					<span class="pull-right"><kbd>C</kbd></span>
					<svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
						<line class="block" shape-rendering="crispEdges" x1="10" x2="10" y1="2" y2="18" fill="" stroke-width="1"></line>
						<rect class="block blockEmpty" shape-rendering="crispEdges" x="4" y="4" width="12" height="4" fill="" stroke-width="1"></rect>
						<rect class="block blockEmpty" shape-rendering="crispEdges" x="6" y="10" width="8" height="4" fill="" stroke-width="1"></rect>
					</svg>
					Align centers
				</a>
			</li>
			<li class="divider"></li>
			<!-- align -->
			<li>
				<a data-skaction="distributeHorizontal">
					<span class="pull-right"><kbd>H</kbd></span>
					<svg class="formatBtn" width="20" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="0" width="4" height="12" fill="" stroke-width="1"></rect>

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="6" y="0" width="4" height="12" fill="" stroke-width="1"></rect>

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="12" y="0" width="4" height="12" fill="" stroke-width="1"></rect>

					</svg>
					Space out horizontally
				</a>
			</li>
			<li>
				<a data-skaction="distributeVertical">
					<span class="pull-right"><kbd>V</kbd></span>
					<svg class="formatBtn" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="0" width="12" height="4" fill="" stroke-width="1"></rect>

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="6" width="12" height="4" fill="" stroke-width="1"></rect>

						<rect class="block blockEmpty" shape-rendering="crispEdges" x="0" y="12" width="12" height="4" fill="" stroke-width="1"></rect>

					</svg>
					Space out vertically
				</a>
			</li>
		</ul>
	</li>
