
<!-- tabs -->
<div class="skTabMenu forGraphEditor">
	<ul class="nav nav-tabs skNavTabs" role="tablist">
		<li class="canBeMini active" role="presentation" >
			<a href="#create" aria-controls="create" role="tab" data-toggle="tab">
				Create
			</a>
		</li>
		<li class="canBeMini" role="presentation">
			<a href="#learn" aria-controls="learn" role="tab" data-toggle="tab">
				Learn
			</a>
		</li>
		<li class="canBeMini" role="presentation">
			<a href="#export" aria-controls="export" role="tab" data-toggle="tab">
				Export
			</a>
		</li>
		<li class="canBeMini" role="presentation">
			<a href="#customize" aria-controls="customize" role="tab" data-toggle="tab">
				Customize
			</a>
		</li>
		<li class="canBeMini" role="presentation">
			<a href="#further" aria-controls="further" role="tab" data-toggle="tab">
				More
			</a>
		</li>
		<li>
			<a class="skMiniMaxiMenu">
				<i class="fa fa-angle-double-up"></i>
			</a>
		</li>
	</ul>
</div>
<!-- end tabs -->

<!-- tab content -->
<div class="skSideMenu forGraphEditor canBeMini">
	<div class="tab-content">

		<!-- create  -->
		<div role="tabpanel" class="tab-pane active" id="create">


			<!-- enable... -->
			<!-- <p class="graphenablebtn" data-skaction="enableGraph">
				<i class="fa fa-unlock"></i> &nbsp;
				<span class="side-menu-text">
					Edit mode
				</span>
			</p> -->


			<!-- cardshoe -->
			<div class="cardshoe">
				<!-- <i class="fa fa-plus-circle"></i> -->
				<span class="cardshoe-box cardshoe-box-wb" data-toggle="tooltip" data-placement="bottom" title="Drag &amp; drop on the canvas">
					<span class="cardshoe-box-text">
						<span class="boxKeyword">Add</span> whatbox
					</span>
				</span>
			</div>

			<div class="cardshoe">
				<!-- <i class="fa fa-plus-circle"></i> -->
				<span class="cardshoe-box cardshoe-box-yb" data-toggle="tooltip" data-placement="bottom" title="Drag &amp; drop on the canvas">
					<span class="cardshoe-box-text">
						<span class="boxKeyword">Add</span> whybox
					</span>
				</span>
			</div>
			<div class="cardshoe">
				<!-- <i class="fa fa-plus-circle"></i> -->
				<span class="cardshoe-box cardshoe-box-sn" data-toggle="tooltip" data-placement="bottom" title="Drag &amp; drop on the canvas">
					<span class="cardshoe-box-text">
						<span class="boxKeyword">Add</span> note
					</span>
				</span>
			</div>

			<div class="skWhyBoxInputsList" style="display:none;">

				<div class="skWingsIO_Inputs" >
					<h3>Inputs</h3>
					<p class="silent explanation">
						Inputs connected at the upper level. Used to ensure consistency between level of details.
					</p>
					<ul class="skWingIOList "></ul>
				</div>
			</div>
			<div class="skWhyBoxOutputsList" style="display:none;">
				<div class="skWingsIO_Outputs">
					<h3>Outputs</h3>
					<p class="silent explanation">
						Outputs connected at the upper level. Used to ensure consistency between level of details.
					</p>
					<ul class="skWingIOList "></ul>
				</div>
			</div>

			<!-- icons... -->
			<p data-skaction="modal_icons">
				<i class="fa fa-tree"></i> &nbsp;
				<span class="side-menu-text">
					Add icons...
				</span>
				<span class="explanation">Illustrate your processes</span>
			</p>

			<!-- formatting -->
			<p data-skaction="modal_formatting">
				<i class="fa fa-paragraph"></i> &nbsp;
				<span class="side-menu-text">
					Formatting...
				</span>
				<span class="explanation">
					Learn how to format text in boxes
				</span>
			</p>

			<!-- keyboard shorcut -->
			<p data-skaction="modal_kbd">
				<i class="fa fa-keyboard-o"></i> &nbsp;
				<span class="side-menu-text">
					Keyboard shortcuts...
				</span>
				<span class="explanation">
					Be faster
				</span>
			</p>
		</div>

		<!-- learn -->
		<div role="tabpanel" class="tab-pane" id="learn">

			<span class="subIcon">
				<i class="fa fa-graduation-cap"></i>
			</span>

			<h3>
				Learn
			</h3>

			<!-- tutorial -->
			<p class="skSideMenu_tutorial">
				<i class="fa fa-life-saver"></i> &nbsp;
				<span class="side-menu-text">
					Start tutorial
				</span>
				<span class="explanation">
					Let you be guided
				</span>
			</p>

			<p class="skExtLink" href="https://www.getskore.com/learn">
				<i class="fa fa-graduation-cap"></i> &nbsp;
				<span class="side-menu-text">
					Training materials
				</span>
				<span class="explanation">
					Learn on getskore.com
				</span>
			</p>

			<p  class="skExtLink" href="https://www.youtube.com/user/skorelabs">
				<i class="fa fa-youtube-play"></i> &nbsp;
				<span class="side-menu-text">
					Videos
				</span>
				<span class="explanation">
					Dozens of short modules to master Skore app
				</span>
			</p>

			<!-- demo content -->
			<h3 class="skSideMenu_loadExample">
				Example content
			</h3>
		</div>

		<!-- export -->
		<div role="tabpanel" class="tab-pane" id="export">
			<span class="subIcon">
				<i class="fa fa-upload"></i>
			</span>

			<h3>Export</h3>

			<!-- just skore it -->
			<p data-skaction="modal_justskoreit" >
				<i class="fa fa-globe"></i> &nbsp;
				<span class="side-menu-text">
					Just Skore it
				</span>
				<span class="explanation">
					Share this Skore anonymously and secretely with friends and colleagues.
				</span>
			</p>

			<!-- image -->
			<p
				data-skaction="modal_imageexport"
				data-target="clipboard">
				<i class="fa fa-image"></i> &nbsp;
				<span class="side-menu-text">
					Copy as image
				</span>
				<span class="explanation">
					Entire graph or selection to ready to insert in email or presentations
				</span>
			</p>

			<p
				data-skaction="modal_imageexport"
				data-target="preview">
				<i class="fa fa-file-image-o"></i> &nbsp;
				<span class="side-menu-text">
					Preview image &amp; save...
				</span>
			</p>

			<!-- print -->
			<p data-skaction="modal_print">
				<i class="fa fa-print"></i> &nbsp;
				<span class="side-menu-text">
					Print...
				</span>
			</p>

			<!-- xml -->
			<p data-skaction="modal_xml">
				<i class="fa fa-file-code-o"></i> &nbsp;
				<span class="side-menu-text">
					XML...
				</span>
				<span class="explanation">View &amp; manipulate the XML source</span>
			</p>
		</div>

		<!-- customize -->
		<div role="tabpanel" class="tab-pane" id="customize">

			<span class="subIcon">
				<i class="fa fa-cog"></i>
			</span>

			<h3>Customize</h3>

			<!-- stylesheet -->
			<p data-skaction="modal_stylesheet" class="skSideMenu_StyleSheet" data-loadtype="stylesheet">
				<i class="fa fa-paint-brush fa-rotate-270"></i>
				<span class="side-menu-text">
					Stylesheet...
				</span>
				<span class="explanation">
					Change look of boxes &amp; lines for the entire map
				</span>
			</p>

			<!-- stylesheet -->
			<p data-skaction="modal_stylesheet" class="disabled skSideMenu_StyleSheet" data-loadtype="stylecell" >
				<i class="fa fa-paint-brush"></i>
				<span class="side-menu-text">
					Box Style...
				</span>
				<span class="explanation">
					Edit stylesheet for <strong>selected</strong> box<span class="box-pluralise"></span> only
				</span>
			</p>

			<!-- settings -->
			<p data-skaction="modal_settings">
				<i class="fa fa-cogs"></i>
				<span class="side-menu-text">
					Settings...
				</span>
				<span class="explanation">Page format, extensions, ...</span>
			</p>
		</div>

		<!-- more... -->
		<div role="tabpanel" class="tab-pane" id="further">

			<span class="subIcon">
				<i class="fa fa-info"></i>
			</span>

			<h3>More</h3>

			<!-- web -->
			<p class="skSideMenu_visitgetskorecom skExtLink" href="https://www.getskore.com">
				<i class="fa fa-globe"></i> &nbsp;
				<span class="side-menu-text">
					Visit getskore.com
				</span>
			</p>

			<!-- feedback / email -->
			<p class="skSideMenu_feedback" href="mailto:info@getskore.com">
				<i class="fa fa-envelope"></i> &nbsp;
				<span class="side-menu-text">
					Send us feedback
				</span>
				<span class="explanation">
					info@getskore.com
				</span>
			</p>

			<!-- youtube (repeat from learn) -->
			<p  class="skExtLink" href="https://www.youtube.com/user/skorelabs">
				<i class="fa fa-youtube-play"></i> &nbsp;
				<span class="side-menu-text">
					Videos
				</span>
				<span class="explanation">
					Dozens of short modules to master Skore app
				</span>
			</p>

			<!-- twitter -->
			<p class="skExtLink" href="https://twitter.com/skoreapp">
				<i class="fa fa-twitter"></i> &nbsp;
				<span class="side-menu-text">
					Twitter
				</span>
				<span class="explanation">
					@skoreApp
				</span>
			</p>

			<!-- facebook -->
			<p class="skExtLink" href="https://www.facebook.com/SkoreApp">
				<i class="fa fa-facebook-official"></i> &nbsp;
				<span class="side-menu-text">
					Facebook
				</span>
			</p>

			<!-- license agreement -->
			<p class="skExtLink" href="https://www.getskore.com/end-user-license-agreement-eula/">
				<i class="fa fa-balance-scale"></i> &nbsp;
				<span class="side-menu-text">
					View license
				</span>
			</p>

			<p>
				<span class="side-menu-text">
					Current version
				</span>
				<span class="explanation skVersionNumber">

				</span>
			</p>
		</div>
	</div>
</div>
