
<!-- topmenu -->
<nav class="skNavbar navbar navbar-default navbar-fixed-top navbar-sk">
	<div class="container-fluid">

		<!-- toggle for small screens and brand -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">
				<img src="images/SkoreLogo20.png">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<div class="nav navbar-nav"></div>

			<!-- edit / view (editor) here -->


			<ul class="nav navbar-nav forGraphEditor">

				<!-- navigator : back -->

				<li data-skaction="navback" class="skNavBack disabled" data-toggle="tooltip" data-placement="bottom" title="Back to where you were in the process">
					<a>
						<i class="fa fa-arrow-circle-left"></i>
					</a>
				</li>

				<!-- navigator : forward -->

				<li data-skaction="navforward" class="skNavForward disabled" data-toggle="tooltip" data-placement="bottom" title="Go to where you have been in the process">
					<a>
						<i class="fa fa-arrow-circle-right"></i>
					</a>
				</li>

				<!-- zoom -->

				<li data-skaction="zoomOut" class="skMenuView" data-toggle="tooltip" data-placement="bottom" title="Smaller (zoom out)">
					<a>
						<i class="zoomOff fa fa-fw fa-search-minus"></i>
						<i class="zoomOn fa fa-fw fa-minus" style="display:none"></i>
					</a>
				</li>
				<li data-skaction="zoomIn" class="skMenuView"  data-toggle="tooltip" data-placement="bottom" title="BIGGER (zoom in)">
					<a>
						<i class="zoomOff fa fa-fw fa-search-plus"></i>
						<i class="zoomOn fa fa-fw fa-plus" style="display:none"></i>

					</a>
				</li>
				<li data-skaction="zoomReset" class="skMenuView" data-toggle="tooltip" data-placement="bottom" title="Reset zoom">
					<a>
						<i class="zoomOff fa fa-fw fa-search"></i>
						<i class="zoomOn fa fa-fw skMenuViewEgal" style="display:none;"></i>
					</a>
				</li>
				<li data-skaction="zoomFit" class="skMenuView" data-toggle="tooltip" data-placement="bottom" title="Zoom to fit all content">
					<a>
						<i class="zoomOff fa fa-fw fa-search"></i>
						<i class="zoomOn fa fa-fw fa-arrows" style="display:none"></i>
					</a>
				</li>
				<li data-skaction="zoomFitPageWidth" class="skMenuView" data-toggle="tooltip" data-placement="bottom" title="Zoom to fit page width">
					<a>
						<i class="zoomOff fa fa-fw fa-search"></i>
						<i class="zoomOn fa fa-fw fa-arrows-h" style="display:none"></i>
					</a>
				</li>
				<li>
					<a data-skaction="modal_print" class="skSideMenu_print" style="display: none">
						<i class="fa fa-print"></i>
					</a>
				</li>

			</ul>

			<!-- search -->

			<form class="navbar-form navbar-left nav menuSearchForm forGraphEditor" onsubmit="return false" role="search">
				<div class="form-group">
					<div class="input-group input-group-sm">

						<!-- input field -->
						<input type="text" class="form-control skMenuFind_input selectionAllowed" placeholder="Search">

						<!-- <span class="input-group-addon " id="basic-addon2">results</span> -->

						<span class="input-group-btn">
						<!-- result -->
						<button class="btn btn-default dropdown-toggle skMenuFind_match"	data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false" type="button"><span class="skMenuFind_matchResults">Results</span><span class="caret"></span></button>
						<ul class="skResultList dropdown-menu dropdown-menu-right">
						</ul>
						</span>

						<span class="input-group-btn">

							<!-- filter button + dropdown -->
							<button class="btn btn-default dropdown-toggle skSearchFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">Filter <span class="caret"></span></button>
							<ul class="skFilterList dropdown-menu dropdown-menu-right">
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input
													data-searchboxtype="whatbox"
													class="skSearchFilter"
													type="checkbox"
													checked> Whatboxes
											</label>
										</div>
									</a>
								</li>
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input
												class="skSearchFilter"
												data-searchboxtype="responsibilities"
												type="checkbox" checked> Responsibilities
											</label>
										</div>
									</a>
								</li>
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input
													class="skSearchFilter skSearchYBText"
													type="checkbox"
													data-searchboxtype="whybox"
													checked> Whyboxes
											</label>
										</div>
									</a>
								</li>
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input
													class="skSearchFilter skSearchSNText"
													type="checkbox"
													data-searchboxtype="stickynote"
													checked> Stickynotes
											</label>
										</div>
									</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input
													class="skSearchFilter"
													type="checkbox"
													data-searchboxtype="attachments"
													checked> Attachments
											</label>
										</div>
									</a>
								</li>
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input class="skSearchFilter skSearchID" type="checkbox" data-searchboxtype="id" checked> ID
											</label>
										</div>
									</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a >
										<div class="radio">
											<label>
												<input class="skSearchFilter" type="radio" name="searchScope" id="withchildren" value="withchildren" checked>
												This level and detailed views
											</label>
										</div>
									</a>
								</li>
								<li>
									<a >
										<div class="radio">
											<label>
												<input class="skSearchFilter" type="radio" name="searchScope" id="currentonly" value="currentonly">
												This level only
											</label>
										</div>
									</a>
								</li>
								<li>
									<a >
										<div class="radio">
											<label>
												<input class="skSearchFilter" type="radio" name="searchScope" id="entireprocess" value="entireprocess">
												Entire process
											</label>
										</div>
									</a>
								</li>
								<li role="separator" class="divider"></li>
								<li>
									<a>
										<div class="checkbox">
											<label>
												<input class="skSearchFilter skSearchExctMtch" data-searchboxtype="exactmatch" type="checkbox"> Exact match
											</label>
										</div>
									</a>
								</li>
							</ul>

							<!-- clear button -->
							<button style="display: inline-block;" type="button" class="btn btn-default skMenuFind_clear">&times;

							</button>
						</span>



					</div>
				</div>

			</form>

			<!-- save button (web) -->
			<ul class="nav navbar-nav navbar-right skSave" style="display:none"><li><a class="skSaveNow">Save now</a></li></ul>


			</div> <!-- /.collapse navbar-collapse -->
		</div> <!-- /.nav container-fluid -->
	</nav> <!-- /.nav -->
