<!DOCTYPE html>
<html class="inProgress">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script type="application/skore">{%xml%}</script>

    <style>

        html,
        body,
        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }


        /*
         * display the thumbnail of the Skore
         *
         *
         *********************/

        html.inProgress {

            background: no-repeat center center fixed;
            background-image:url({%thumbnail%});
            -webkit-background-size: cover; /* For WebKit*/
            -moz-background-size: cover;    /* Mozilla*/
            -o-background-size: cover;      /* Opera*/
            background-size: cover;         /* Generic*/
        }

        html.inProgress body {
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.75;
            display: table;
        }

        html.inProgress iframe {
            width: 1px;
            height: 1px;
        }




        /*
         * loader
         *
         *
         *********************/

        .loader {
            width: 150px;
            height: 150px;
        }

        .loader,
        .loader:before,
        .loader:after {
          border-radius: 50%;
        }
        .loader:before,
        .loader:after {
          position: absolute;
          content: '';
        }
        .loader:before {
          width: 5.2em;
          height: 10.2em;
          background: white;
          border-radius: 10.2em 0 0 10.2em;
          top: -0.1em;
          left: -0.1em;
          -webkit-transform-origin: 5.2em 5.1em;
          transform-origin: 5.2em 5.1em;
          -webkit-animation: load2 2s infinite ease 1.5s;
          animation: load2 2s infinite ease 1.5s;
        }
        .loader {
          font-size: 11px;
          text-indent: -99999em;
          margin: 5em auto;
          position: relative;
          width: 10em;
          height: 10em;
          box-shadow: inset 0 0 0 1em #067C7E;
        }
        .loader:after {
          width: 5.2em;
          height: 10.2em;
          background: white;
          border-radius: 0 10.2em 10.2em 0;
          top: -0.1em;
          left: 5.1em;
          -webkit-transform-origin: 0px 5.1em;
          transform-origin: 0px 5.1em;
          -webkit-animation: load2 2s infinite ease;
          animation: load2 2s infinite ease;
        }
        @-webkit-keyframes load2 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        @keyframes load2 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }






        /*
         * ready
         *
         *
         *********************/

        html.ready div.loader {
            display: none;
        }

</style>

</head>
<body>

    <div class="loader"></div>

    <script>
		window.addEventListener('message', function (event) {
			// Do we trust the sender of this message?
			// if (event.origin !== 'https://2-dot-the-skore.appspot.com')
			//      return;
			// event.source is window.opener

			// Assuming you've verified the origin of the received message (which
			// you must do in any case), a convenient idiom for replying to a
			// message is to call postMessage on event.source and provide
			// event.origin as the targetOrigin.
			if (event.data === 'ready') {
				var html = document.getElementsByTagName('html')[0];
        // var text = document.getElementsByTagName('script')[0].textContent;
				var text = document.querySelector('script[type="application/skore"]').textContent;
				html.className = 'ready';
				event.source.postMessage(text, event.origin);
        document.getElementsByClassName("imageContent")[0].style.display = "none";
        document.getElementsByClassName("textContent")[0].style.display = "none";
			}
		}, false);
    </script>


    <iframe id="iframe" src="{%htmlserver%}"></iframe>

    <div class="imageContent" style="display:none"></div>
    <div class="textContent" style="display: none">{%fulltext%}</div>

</body>
</html>
