<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="styles/skViewer.css">

	<!-- build:remove -->
	<link rel="stylesheet" type="text/css" href="styles/skFonts.css">

	<link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/linearicons.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/jquery-ui-position-resizable.min.css">

	<link rel="stylesheet" type="text/css" href="styles/skNavigatorUI.css">
	<link rel="stylesheet" type="text/css" href="styles/skBox.css">
	<link rel="stylesheet" type="text/css" href="styles/skBoxIcons.css">

	<link rel="stylesheet" type="text/css" href="styles/skAttachments.css">
	<link rel="stylesheet" type="text/css" href="styles/skMenu.css">
	<link rel="stylesheet" type="text/css" href="styles/skMenu_sidemenu.css">
	<link rel="stylesheet" type="text/css" href="styles/skMenu_sideMenu_tabs.css">
	<link rel="stylesheet" type="text/css" href="styles/skTitle.css">
	<link rel="stylesheet" type="text/css" href="styles/skMenu_search.css">
	<link rel="stylesheet" type="text/css" href="styles/skInfoBox.css">
	<link rel="stylesheet" type="text/css" href="styles/skHint.css">
	<link rel="stylesheet" type="text/css" href="styles/skWellDone.css">
	<link rel="stylesheet" type="text/css" href="styles/skMenu_footer.css">
	<link rel="stylesheet" type="text/css" href="styles/skStatus.css">
	<link rel="stylesheet" type="text/css" href="styles/skMenu_registration.css">
	<link rel="stylesheet" type="text/css" href="styles/skModals.css">

	<link rel="stylesheet" type="text/css" href="styles/skSideModal.css">

	<link rel="stylesheet" type="text/css" href="styles/skMain.css">
	<!-- endbuild -->

</head>
<body>
	{%svg%}
</body>
</html>
