/*
 * CSS for attachment editor
 *
 *
 *********************/

/*
 * edit button
 *
 */

a.att_edit {

	display: block;
	position: relative;
	float: right;
	right: 0px;

	color: #bbb;
	cursor: pointer;
	font-size: 12px;
}

a.att_edit:hover {
	color: blue;
	text-decoration: underline;
}


/**
	editor
**/

.att_editor {
	padding: 5px;
	font-size: 12px;
	padding-left: 10px;
	background: #f0f0f0;
}

.att_editor input, .att_editor textarea {
	width: 90%;
}

/*.att_editor_buttons {
	font-size: 12px;
}*/


/*
 * cardshoe in sidebar
 *
 */

.cardshoe {
	display: table;
	border-radius: 3px;
	min-width: 100px;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	margin: 40px auto;
	color: #50DC93;
	background-color: rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

.cardshoe.disabled {
	cursor: not-allowed;
}

.cardshoe.disabled .cardshoe-box-text,
.cardshoe.disabled .boxKeyword {
    color: gray;
}

.cardshoe .cardshoe-box {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	border: 2px solid black;
	padding: 10px;
	min-height: 50px;

	max-width: 190px;
}

/*different because this style is used elsewhere*/

.cardshoe .cardshoe-box {
	text-transform: uppercase;
	width: 90px;
}

.cardshoe .cardshoe-box-yb{
	/*width: 100px;*/
	border:2px solid black;
	border-top-left-radius: 10px 50%;
	border-top-right-radius: 10px 50%;
	border-bottom-left-radius: 10px 50%;
	border-bottom-right-radius: 10px 50%;

	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;

}
.cardshoe .boxKeyword{
	color: white;
	display: block;
}

.icon_dragged {

	border: 2px solid #BDBDBD;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 10px white;

	cursor: pointer;
}

.icon_dragged_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* whatbox */
.icon_whatbox_dragged {
	border: 2px solid #BDBDBD;
	border-top-width: 1px;
	border-bottom-width: 1px;
	width: 190px;
	height: 80px;
	display: table;
}
/* whybox */
.icon_whybox_dragged {
	width: 100px;
	height: 80px;
	display: table;
	border-top: none;
	border-bottom: none;
}

/* note */
.icon_stickynote_dragged {
	width: 190px;
	height: 80px;
	display: table;
}

/* for list of inputs & outputs */

.skSideMenu .skWhyBoxIOList ul {
	padding: 0;
}
.skSideMenu .skWhyBoxIOList .cardshoe {
	min-width: 150px;
	margin: 5px auto;
}
.skSideMenu .skWhyBoxIOList .cardshoe .cardshoe-box {
	text-transform: inherit;
	min-width: 140px;
}

/*
 * skMenu_outline.css
 *
 */


.outlineBox {
    display: block;
    overflow:hidden;
    position: fixed;

    background-color: #333;
    border-right: 1px solid #333;

    height: 135px;

    left: -1px; /* to compensate border */

    z-index: 11;

    box-shadow: 0 -5px 5px -6px black;

}

#skOutline {

    height: 135px;
}


/*
 * normal buttons
 *
 */

.navbar-default .dropdown-menu>li>a.disabled,
.disabled .fa,
.disabled kbd {
	color: #545454;
}


/*
 * align buttons
 *
 */


svg.formatBtn {
	vertical-align: middle;
}

.disabled svg.formatBtn .block {
	stroke: #545454;

}
svg.formatBtn .block {
	stroke: white;
}
.disabled svg.formatBtn .blockEmpty {
	fill: #333333;
}
svg.formatBtn .blockEmpty {
	fill: black;
}
.disabled svg.formatBtn .blockFull {
	fill: #545454;
}
svg.formatBtn .blockFull {
	fill: white;
}


/*
 * Cell Editor -- general
 *
 *********************/

.input-sm {
	height: 30px;
}

.typeahead.dropdown-menu {
    max-height: 350px;
    overflow-y: scroll;
}

.cellEditor {
	/*text-align: center;*/
	margin-left: -2px;
	/*border: 3px solid orange;*/
	background-color: white;
	margin-top: -3px;
	margin-left: 0px;
	padding: 3px;
}

/*
 * GROUP
 *
 *
 *********************/

.cellEditor.group {
	width: 200px;
	/*height: 50px;*/
	margin-top: -50px;

}

/*
 * STICKYNOTE
 *
 *********************/

.cpList {
	text-align: center;
}

.colorPicker label {
	width: 22px;
	height: 22px;
	box-shadow: 0 0 1px gray;
}

.colorPicker input[type="radio"] {
	display:none;
}

.colorPicker input[type="radio"]:checked + label {
	border: 3px solid orange;
	box-shadow: 0 0 10px orange;
}

.colorPicker .editorSubTitle {
	font-size: 10px;
	text-align: left;
	display: block;
}

.colorPicker {
	line-height: 24px;
	display: list-item;
	/*float: left;*/
	list-style-type: none;
}

/*
 * TITLE
 *
 *********************/

.cellEditor.title  {
	padding-left: 3px;
	margin-top: -3px;
}

.cellEditor.title .textEditor input {
	height: 10px;
}

/*
 * RESOURCE
 *
 *********************/

.resourceEditor {
	margin-top: 8px;
	margin-bottom: 2px;
}

/*
 * TAG
 *
 *********************/

.form-editor.buttonbar {
	margin-top: 2px;
}

/*
* on diagram icons
*********************/

/*
 * expanding area
 *
 */

.expandingArea {
	position: relative;
	border-width: 1px; /* solid #888; */
	background: #fff;
	min-height: 70px;
}

.expandingArea > textarea,
.expandingArea > pre {
	padding: 5px;
	background: transparent;
	font: 400 13px/16px 'Open Sans', arial, sans-serif;
	/* Make the text soft-wrap */
	white-space: pre-wrap;
	word-wrap: break-word;
}

.expandingArea > textarea {
	/* The border-box box model is used to allow
	 * padding whilst still keeping the overall width
	 * at exactly that of the containing element.
	 */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  	width: 100%;
  	/* This height is used when JS is disabled */
  	height: 100px;
}

.expandingArea.active > textarea {
	/* Hide any scrollbars */
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	/* Remove WebKit user-resize widget */
	resize: none;
}

.expandingArea > pre {
  	display: none;
}

.expandingArea.active > pre {
	display: block;
	/* Hide the text; just using it for sizing */
	visibility: hidden;
}


/*
 * wings for menu
 *
 */

.skWingMenu {
    position: fixed;
    top:76px;
    z-index: 99;
}
.skWingMenuLeft {
    left:250px;
}
.skWingMenuRight {
    right:0px;
}

/*
 * for inputs / outputs
 *
 */
/*
.skWingIOList {
    width: 200px;
}

.skWingIOList .dropdown-header p {
    text-transform: none;
    white-space: normal;
    color: white;
    font-size: 12px;
    padding: 0;
}

.skWingIOList .dropdown-header p.nothingToShow {
    color: #50DC93;
}

.skWingIOList .cardshoe-box {
    width: 120px;
}
*/
