
<!-- Modal for role manager -->
<div class="modal fade" id="skModalRolesManager" tabindex="-1" role="dialog" aria-labelledby="skModalRolesManagerLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" class="skModalRolesManagerLabel" id="skModalRolesManagerLabel">Role</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="skJobDescPlaceholder selectionAllowed" ></div>
				</div>
			</div>
		</div>
	</div>
</div>
