
<!-- modal for report customization -->
<div class="modal fade" id="skModal_ReportCustomizer" tabindex="-1" role="dialog" aria-labelledby="skModal_ReportCustomizerLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="skModal_ReportCustomizerLabel">Customize report</h4>
			</div>

			<!-- modal body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<div class="skCustoBoxTypes list-group custoBoxType">
						</div>
					</div>
					<div class="col-md-4">
						<div class="skCustoColumns list-group">
						</div>
					</div>
					<div class="col-md-4">
						<div class="skCustoRelations list-group" style="display:none">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close & Apply customization</button>
			</div>
		</div>
	</div>
</div>
